{% for ocupation in ocupations %}
		<p><input name="degree" value="{{ ocupation.degree | upper }}" type="hidden"></p>
		<h3>Informe o Ano de Conclusão
				{{ ocupation.degree | upper }}</h3>
		<p>
				<label for="degreeconclusionyear">Ano de Conclusão</label>
		</p>
		<p><input maxlength="4" placeholder="Ano de Conclusão" oninput="this.className = ''" name="degreeconclusionyear"></p>

		{% if ocupation.degree == 'Ensino Técnico' %}
				<p>
						<label for="degreenamecourse">Nome do Curso</label>
				</p>
				<p><input placeholder="Nome do Curso" oninput="this.className = ''" name="degreenamecourse"></p>
		{% endif %}
		{% if ocupation.degree == 'Graduação' %}
				<p>
						<label for="degreenamecourse">Nome do Curso</label>
				</p>
				<p><input placeholder="Nome do Curso" oninput="this.className = ''" name="degreenamecourse"></p>
		{% endif %}
		{% if ocupation.degree == 'Pós-Graduação' %}
				<p>
						<label for="degreenamecourse">Nome do Curso</label>
				</p>
				<p><input placeholder="Nome do Curso" oninput="this.className = ''" name="degreenamecourse"></p>
		{% endif %}
		{% if ocupation.degree == 'Mestrado' %}
				<p>
						<label for="degreenamecourse">Nome do Curso</label>
				</p>
				<p><input placeholder="Nome do Curso" oninput="this.className = ''" name="degreenamecourse"></p>
		{% endif %}
		{% if ocupation.degree == 'Doutorado' %}
				<p>
						<label for="degreenamecourse">Nome do Curso</label>
				</p>
				<p><input placeholder="Nome do Curso" oninput="this.className = ''" name="degreenamecourse"></p>
		{% endif %}
		{% if ocupation.degree == 'Pós-Doutorado (Phd)'%}
				<p>
						<label for="degreenamecourse">Nome do Curso</label>
				</p>
				<p><input placeholder="Nome do Curso" oninput="this.className = ''" name="degreenamecourse"></p>
		{% endif %}
		<p>
				<label for="degreedoc">Certificado de Conclusão</label>
		</p>
		<p><input type="file" onchange='ValidateSize(this)' name="degreedoc" placeholder="Selecionar Assinatura"/></p>
{% endfor %}
