{% extends "_layouts/_candidate.njk" %}

{% block form %}
		{% for person in candidate %}
				<span class="print">

						<h2>Sua Inscrição no
								<strong>{{ person.process.name | upper }}</strong>
								para o Cargo
								<strong>{{person.ocupation.name | upper }}</strong>
								foi realizada com sucesso!</h2>

						<ul>
								<li>
										Dados Pessoais
								</li>
								<li>
										<ul>
												<li>Nome Completo:
														<strong>{{ person.name }}</strong>
												</li>
												<li>Data de Nascimento:
														<strong>{{ person.birthday | date("DD/MM/YYYY")  }}</strong>
												</li>
												<li>E-mail:
														<strong>{{ person.email }}</strong>
												</li>
												<li>Endereço:
														<strong>{{ person.address}}, n°{{person.nro}}
																Bairro
																{{person.neighborhood}}
																- Cidade
																{{person.city}}/{{person.province}}</strong>
												</li>
												<li>PCD:
														<strong>
																{% if person.pcd === 'S' %}
																		Sim -
																		{{ person.pcdtipo }}
																{% endif %}
																{% if person.pcd === 'N' %}
																		Não
																{% endif %}
														</strong>
												</li>
												<li>CPF:
														<strong>{{person.cpf}}</strong>
												</li>
												<li>RG
														<strong>{{person.rg}}</strong>
												</li>
												<li>Telefone
														<strong>{{person.tel}}</strong>
												</li>
										</ul>
								</li>

								<li>Escolaridade</li>
								<li>
										<ul>
												{% for degredoc in person.degreedocs %}
														<li>
																-
																<em>{{degredoc.degreename}}
																		{{degredoc.degreenamecourse}}
																		{{degredoc.degreeconclusionyear}}
																		- Arquivo:
																		{{degredoc.originalname}}</em>
														</li>
												{% endfor %}
										</ul>
								</li>
								<li>Qualificação Profissional</li>
								<li>
										<ul>
												{% for coursedoc in person.coursedocs %}
														<li>
																-
																<em>{{coursedoc.coursename}}
																		({{coursedoc.courseconclusionyear}}) - C.H
																		{{coursedoc.courseworkload}}
																		- Arquivo:
																		{{coursedoc.originalname}}</em>
														</li>

												{% endfor %}
										</ul>
								</li>
								<li>Experiência Profissional</li>
								<li>
										<ul>
												{% for experiencedoc in person.experiencedocs %}
														<li>
																-
																<em>{{experiencedoc.expempresa}}
																		({{experiencedoc.expcargo}}) - Período
																		{{experiencedoc.expdataadm}}
																		a
																		{{experiencedoc.expdatades}}
																		- Arquivo:
																		{{experiencedoc.originalname}}</em>
														</li>
												{% endfor %}
										</ul>
								</li>
								<li>
										&nbsp;
								</li>
								<li>
										<small>Inscrição realizada em
												{{person.created_at | date("DD/MM/YYYY") }}
												- Autenticação
												{{person.id}}</small>s
								</li>
								<li>
										<button onclick="myFunction()">Imprima seu Comprovante de Inscrição</button>

										<script>
												function myFunction() {
														window.print();
												}
										</script>

								</li>
						</ul>

				</span>
		{% endfor %}
		<style>
				@media print {
						.print {
								background-color: white;
								height: 100%;
								width: 100%;
								position: fixed;
								top: 0;
								left: 0;
								margin: 0;
								padding: 15px;
								font-size: 14px;
								line-height: 18px;
						}
				}
		</style>
{% endblock form %}
