{% extends "_layouts/_candidate.njk" %}

{% block form %}

		<h2>Processo Seletivo Simplificado - Senac Sergipe</h2>

		{% set count = 0 %}

		{% for process in processes %}

				{% set count = count + 1 %}

				<div id="appointments" class="animated fadeIn">
						<div class="em-abertas">
								<div class="bloco-grid-dados-processo">
										<div class="unidade">
												<div class="abertura">{{process.start_date | date("DD/MMM") }}</div>
												<div class="ano">{{process.start_date | date("Y") }}</div>
										</div>
										<div class="infos">
												<div class="nome">
														{{process.name }}
												</div>
												<div class="situacao situacao-a-vencer">

														{% if process.is_published === true %}
																<span class="label label-success">Inscrições Abertas</span></div>
												{% endif %}

												{% if process.is_published === false %}
														<span class="label label-danger">Inscrições Encerradas</span></div>
										{% endif %}
								</div>

								<div class="icone">

										{% if process.is_published === true %}
												<div class="actions-content">
														<span>
																<a class="btn green" href="/candidate/process/{{process.id}}">
																		<span class="done material-icons">done</span><span>INSCREVA-SE</span></a>
														</span>
												</div>

										{% endif %}

								</div>
						</div>
				</div>
				<div class="bloco-grid-docs-processo">
						<ul>
								<li>Todas as informações a respeito desse Processo Seletivo Simplificado (cargo, salário, inscrição, etapas do processo, cronograma e resultados) serão apresentadas nos anexos abaixo:</li>
								{% for ducument in process.document %}
										<li>
												<a download="{{ducument.name}}" href="/files/{{ ducument.filename }}">{{ducument.name}}

														<small>
																- Publicado em
																{{ducument.publish_date | date("DD/MM/YYYY") }}</small>
												</a>
										</li>
								{% endfor %}
						</ul>
				</div>
		</div>

{% endfor %}

{% if count == 0 %}
		<div class="bloco-grid-docs-processo">
				<ul>
						<li>Para fazer parte do quadro funcional do SENAC é necessário participar de uma seleção pública, que a depender da área, contempla provas teóricas e práticas. Ao abrirmos um novo processo seletivo simplificado, informaremos por meio deste site e de jornais de grande circulação, o período de inscrições.</li>
				</ul>
		</div>

{% endif %}

{% endblock form %}
