{% extends "_layouts/_candidate.njk" %}

{% block form %}
		<h2>{{ processes.name | upper }}
		</h2>
		<div class="form-wrapper">
				<form id="regForm">
						<div class="tab animated fadeIn">
								<div style="display: flex;flex-direction: column;">
										<h1>CARGO</h1>
										<select name="ocupation_id" id="ocupation">
												<option value="">SELECIONE</option>
												{% for variable in processes.ocupations %}
														<option value="{{ variable.id }}">
																{{ variable.name | upper}}
																({{ variable.degree | upper}})
														</option>
												{% endfor %}
										</select>
										<h1>DADOS PESSOAIS</h1>
										<input type="hidden" value="{{processes.id}}" name="process_id">
										<div class="form-group">
												<label for="name">Dados Gerais</label>
												<input class="input-control" type="text" id="name" placeholder="Nome Completo" oninput="this.className = 'input-control'" name="name">
										</div>
										<div class="form-group">
												<label for="birthday"></label>
												<input class="input-control date" id="birthday" maxlength="10" placeholder="Data de Nascimento" name="birthday">
												<input class="input-control cpf" id="cpf" maxlength="14" placeholder="CPF" oninput="this.className = 'input-control'" name="cpf">
												<input class="input-control" id="rg" placeholder="R.G." oninput="this.className = 'input-control'" name="rg">
										</div>
										<div class="form-group">
												<label for="address">Endereço</label>
												<input class="input-control" id="address" placeholder="Rua/Avenida" oninput="this.className = 'input-control'" name="address">

												<input class="input-control" placeholder="Nº" maxlength="10" oninput="this.className = 'input-control'" name="nro">
												<input class="input-control" placeholder="Bairro" oninput="this.className = 'input-control'" name="neighborhood">

										</div>
										<div class="form-group">
												<label for="address"></label>
												<input class="input-control cep" maxlength="10" placeholder="CEP" oninput="this.className = 'input-control'" name="postalcode">
												<input class="input-control" placeholder="Cidade" value="Aracaju" oninput="this.className = 'input-control'" name="city">
												<select class="input-control" name="province">
														<option value="Acre">Acre</option>
														<option value="Alagoas">Alagoas</option>
														<option value="Amapá">Amapá</option>
														<option value="Amazonas">Amazonas</option>
														<option value="Bahia">Bahia</option>
														<option value="Ceará">Ceará</option>
														<option value="Distrito Federal">Distrito Federal</option>
														<option value="Espírito Santo">Espírito Santo</option>
														<option value="Goiás">Goiás</option>
														<option value="Maranhão">Maranhão</option>
														<option value="Mato Grosso">Mato Grosso</option>
														<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
														<option value="Minas Gerais">Minas Gerais</option>
														<option value="Pará">Pará</option>
														<option value="Paraíba">Paraíba</option>
														<option value="Paraná">Paraná</option>
														<option value="Pernambuco">Pernambuco</option>
														<option value="Piauí">Piauí</option>
														<option value="Rio de Janeiro">Rio de Janeiro</option>
														<option value="Rio Grande do Norte">Rio Grande do Norte</option>
														<option value="Rio Grande do Sul">Rio Grande do Sul</option>
														<option value="Rondônia">Rondônia</option>
														<option value="Roraima">Roraima</option>
														<option value="Santa Catarina">Santa Catarina</option>
														<option value="São Paulo">São Paulo</option>
														<option selected="selected" value="Sergipe">Sergipe</option>
														<option value="Tocantins">Tocantins</option>
												</select>
										</div>
										<div class="form-group">
												<label for="tel">Contato</label>
												<input class="input-control" id="tel" maxlength="15" onkeypress="MascaraTelefone(this)" placeholder="Telefone para contato" oninput="this.className = 'input-control'" name="tel">
												<input class="input-control" id="email" type="email" placeholder="E-mail" oninput="this.className = 'input-control'" name="email" size="30" required="required">
										</div>
								</div>
						</div>
						<div class="tab animated fadeIn">
								<p>
										<small>Informe a escolaridade, conforme requisito do cargo inscrito</small>
								</p>
								<h1>ESCOLARIDADE</h1>

								<span id="degree">Nenhum Cargo foi Selecionado. Retorne ao passo anterior e selecione um Cargo.</span>
						</div>
						<div class="tab animated fadeIn">
								<h3>
										<small>Realizados entre 2009 a 2019 e com carga horária mínima de 40 horas (máximo 5 cursos)</small>
								</h3>
								<h1>QUALIFICAÇÃO PROFISSIONAL</h1>
								<div id="qual-prof">
										<fieldset id="fst-qual-prof"></fieldset>

								</div>
								<button id="adicQualProf">Adicionar Nova Qualificação</button>

						</div>
						<div class="tab animated fadeIn">
								<h1>EXPERIÊNCIA NA ÁREA</h1>
								<div id="exp">
										<fieldset>
												<div class="flex-grid">
														<div>
																<h3>Experiência 1</h3>
																<p>
																		<input placeholder="Empresa" oninput="this.className = 'input-control'" name="expempresa[]">
																		<input placeholder="Cargo/Função" oninput="this.className = 'input-control'" name="expcargo[]">
																		<input id="expdt0" placeholder="Data Admissão" name="expdataadm[]">
																		<input id="expdt1" placeholder="Data de Desligamento" oninput="this.className = 'input-control'" name="expdatades[]">

																</p>
																<p>
																		<label for="expdoc">Comprovante (*.pdf ou *.jpg)</label>
																</p>
																<p>
																		<input onchange="ValidateSize(this)" type="file" name="expdoc" placeholder="Selecionar"/>
																</p>
														</div>
												</div>
										</fieldset>
								</div>
								<button id="adicExpArea">Adicionar Nova Experiência</button>

						</div>
						<div class="tab animated fadeIn">
								<h1>PESSOA COM DEFICIÊNCIA</h1>
								<div class="flex-grid">
										<div>
												<h3>Estou enquadrado na condição de PCD (Pessoa com Deficiência)?</h3>
												<select name="pcd" id="pcd">
														<option value="S">SIM</option>
														<option value="N" selected="selected">NÃO</option>
												</select>
												<p>
														<p>
																Discrimine o tipo de deficiência, conforme laudo constante neste processo:</p>
												</p>
												<p>
														<div class="textwrapper">
																<textarea name="pcdtipo" id="pcd-tipo" rows="5"></textarea>
														</div>
												</p>
										</div>
								</div>
								<div class="flex-grid">

										<div>
												<h3>Necessita de condições especiais (diferenciadas) para a avaliação de habilidades práticas?</h3>
												<select name="condesp" id="cond-esp">
														<option value="S">SIM</option>
														<option value="N" selected="selected">NÃO</option>
												</select>
												<p>
														Se sua resposta acima foi SIM, descreva abaixo quais são estas condições
												</p>
												<p>
														<div class="textwrapper">
																<textarea name="condespobs" id="pcd-tipo" rows="5"></textarea>
														</div>
												</p>
										</div>
								</div>

						</div>
						<div class="tab animated fadeIn">
								<h1>DECLARAÇÃO DO CANDIDATO</h1>
								<p style="font-size: 1.5em;margin: 25px 0;">
										Estou ciente de todas as condições e requisitos estabelecidos no Comunicado do
										{{ processes.name | upper }}
										do Senac/SE para a participação da seleção.
								</p>
								<p style="font-size: 1.5em;margin: 25px 0;">
										Declaro que as informações contidas no formulário de inscrição são verdadeiras, conforme documentos acostados ao processo, sabendo que a qualquer momento posso ser requerido para a apresentação dos documentos originais.
								</p>

						</div>

						<div style="overflow:auto;margin-top:40px;">
								<div style="display: flex;justify-content: space-between;">
										<div>
												<button type="button" id="prevBtn" onclick="nextPrev(-1)">Voltar</button>
										</div>
										<div>
												<button type="button" id="nextBtn" onclick="nextPrev(1)">Avançar</button>
												<button type="button" id="submitBtn" onclick="sendData()">Confirmar Inscrição</button>
										</div>

								</div>
						</div>

						<div style="text-align:center;margin-top:200px;">
								<span class="step"></span>
								<span class="step"></span>
								<span class="step"></span>
								<span class="step"></span>
								<span class="step"></span>
								<span class="step"></span>
						</div>

				</form>
				<div id="modal-candidate" class="modal-progress ">
						<div class="modal-progress-content animated fadeInDown">
								<h2>Enviando informações</h2>
								<br/>
								<br/>
								<p>Por favor aguarde o envio dos dados para que sua inscrição seja efetivada.
										<strong>Não atualize ou feche esta página</strong>
										.</p>
								<div id="myProgress">
										<div id="myBar"></div>
								</div>
						</div>
				</div>
		</div>
</div>
<script>

		/* Sample function that returns boolean in case the browser is Internet Explorer */
		function isIE() {
				ua = navigator.userAgent;
				/* MSIE used to detect old browsers and Trident used to newer ones */
				var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

				return is_ie;
		}
		/* Create an alert to show if the browser is IE or not */
		if (isIE()) {
				alert('Seu Navegador não é compatível. Recomendamos que você utilize o Mozilla Firefox ou o Google Chrome para uma melhor experiência neste site.')

				window
						.location
						.replace("/");

		}

		localStorage.clear();
		localStorage.setItem("contcourse", "1");
		localStorage.setItem("contexp", "1");
		localStorage.setItem("process_id", "{{ processes.id }}");
</script>
<script src="/_app.js"></script>
{% endblock form %}
