{% extends "_layouts/form.njk" %}
{% block form %}

		<style>
				.pdfobject-container {
						width: 100%;
						height: 40rem;
						border: 1rem solid rgba(0,0,0,.1);
						overflow-y: scroll;
				}

				img {
						max-width: 100%;
						object-fit: cover;
						height: auto;
				}
				.wrapperimg {}
		</style>

		<h2>Listagem de Candidatos Pendentes de Verificação de Documentos</h2>

		<div class="form-wrapper">

				<div id="candidate-table" style="width:100%"></div>

		</div>

		<!-- Modal Candidato -->
		<div id="modal-candidate" class="modal ">

				<!-- Modal content -->
				<div class="modal-content animated fadeInDown">
						<span class="close">&times;</span>

						<h2>
								<span id="candidate-name"></span>
						</h2>
						<div class="actions">
								<div class="actions-title">Avaliar como:</div>
								<div class="actions-content">
										<span class="classified">
												<a class="btn green" href="#">
														<span class="done material-icons">done</span><span>Classificado</span></a>
										</span>

										<span class="disqualified">
												<a class="btn red" href="#">
														<span class="not_interested material-icons">not_interested</span><span>Desclassificado</span></a>
										</span>
								</div>
						</div>
						<div class="flex-grid">
								<div>
										<h2>Informações do Candidato</h2>
										<div class="form-wrapper">

												<div class="worko-tabs">

														<input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked="checked"/>
														<input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two"/>
														<input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three"/>
														<input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four"/>

														<div class="tabs flex-tabs">
																<label for="tab-one" id="tab-one-label" class="tab">Perfil</label>
																<label for="tab-two" id="tab-two-label" class="tab">Escolaridade</label>
																<label for="tab-three" id="tab-three-label" class="tab">Qualificação</label>
																<label for="tab-four" id="tab-four-label" class="tab">Experiência</label>

																<div id="tab-one-panel" class="panel active">
																		<h3>Dados Pessoais</h3>
																		<div id="profile-tab"></div>
																</div>
																<div id="tab-two-panel" class="panel">
																		<h3>Escolaridade</h3>
																		<div id="degree-tab"></div>
																</div>
																<div id="tab-three-panel" class="panel">
																		<h3>Qualificação Profissional</h3>
																		<div id="course-tab" style="width:100%"></div>
																</div>
																<div id="tab-four-panel" class="panel">
																		<h3>Experiência na Área</h3>
																		<div id="exp-tab" style="width:100%"></div>
																</div>
														</div>

												</div>
										</div>
								</div>

								<div>
										<h2 id="rotate">Anexo</h2>
										<div class="form-wrapper">
												<div id="example1"></div>
										</div>
								</div>
						</div>

						<div class="actions">
								<div class="actions-content">

										<span class="removecandidate">
												<a class="btn" href="#">
														<span class="delete material-icons">delete</span><span>Inativar Cadastro</span></a>
										</span>
								</div>
						</div>
				</div>
		</div>

		<script>

				localStorage.clear();

				var modal = document.getElementById('modal-candidate');

				var span = document.getElementsByClassName("close")[0];

				span.onclick = function () {

						let id = localStorage.getItem("candidateCurrent")

						let data = {
								'is_lock': false
						}

						var headers = {
								"Content-Type": "application/json",
								"Access-Control-Origin": "*"
						}

						fetch(`/app/candidate/lock/${id}`, {
								method: 'POST',
								headers: headers,
								body: JSON.stringify(data)
						})
								.then(function (response) {
										return response.json();
								})
								.then(function (data) {
										modal.style.display = "none";
										$('#example1').empty()
										$('#tab-one').prop('checked', 'checked');
										table.replaceData()
										toastr.warning(`Candidato não Avaliado`, `Status! `)
								})
				}

				window.onclick = function (event) {
						if (event.target == modal) {

								let id = localStorage.getItem("candidateCurrent")

								let data = {
										'is_lock': false
								}

								var headers = {
										"Content-Type": "application/json",
										"Access-Control-Origin": "*"
								}

								fetch(`/app/candidate/lock/${id}`, {
										method: 'POST',
										headers: headers,
										body: JSON.stringify(data)
								})
										.then(function (response) {
												return response.json();
										})
										.then(function (data) {
												modal.style.display = "none";
												$('#example1').empty()
												$('#tab-one').prop('checked', 'checked');
												table.replaceData()
												toastr.warning(`Candidato não Avaliado`, `Status! `)
										})

						}
				}

				moment.locale('pt-br')

				// Função Marcar como Avaliado
				var classificado = document.getElementsByClassName("classified")[0];

				classificado.onclick = function () {

						const id = localStorage.getItem("candidateCurrent")

						let headers = {
								"Content-Type": "application/json",
								"Access-Control-Origin": "*"
						}

						fetch(`/app/candidate/check/${id}`, {
								method: 'POST',
								headers: headers
						})
								.then(function (response) {
										return response.json();
								})
								.then(function (data) {
										console.log(data)
										let degreecount = data.degree
										let expcount = data.exps
										if (data.degree > 0 && data.exps > 0) {

												let status = {
														'is_classified': true
												}

												var headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/candidate/status/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(status)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																modal.style.display = "none";
																$('#example1').empty()
																$('#tab-one').prop('checked', 'checked');
																table.replaceData()
																toastr.success(`Candidato Avaliado com Sucesso`, `Sucesso! `)
														})

										} else {
												let id = localStorage.getItem("candidateCurrent")

												let status = {
														'is_lock': false
												}

												let headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/candidate/lock/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(status)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																modal.style.display = "none";
																$('#example1').empty()
																$('#tab-one').prop('checked', 'checked');
																table.replaceData()
																toastr.warning(`Candidato não Avaliado ou Avaliado Parcialmente`, `Status! `)
																swal(`Candidato não Avaliado ou Avaliado Parcialmente`, `\nTotal de Documentos Avaliados\n\nEscolaridade: ${degreecount} \nExperiencia Prof.:  ${expcount}\n\nÉ necessário 01 (um) comprovante de Escolaridade e ao menos 01 (um) de Experiencia Profissional válido para Classificar o Candidato.`, "warning")
														})

										}

								})
				}

				// Função Excluir Candidato
				let removecandidate = document.getElementsByClassName("removecandidate")[0];

				removecandidate.onclick = function () {

						let id = localStorage.getItem("candidateCurrent")

						window.location.href = `/app/process/candidate/remove/${id}`;
				}

				// Função Marcar como Avaliado
				let desclassificado = document.getElementsByClassName("disqualified")[0];

				desclassificado.onclick = function () {

						let id = localStorage.getItem("candidateCurrent")

						let data = {
								'is_disqualified': true
						}

						let headers = {
								"Content-Type": "application/json",
								"Access-Control-Origin": "*"
						}

						fetch(`/app/candidate/status/${id}`, {
								method: 'POST',
								headers: headers,
								body: JSON.stringify(data)
						})
								.then(function (response) {
										return response.json();
								})
								.then(function (data) {
										modal.style.display = "none";
										$('#example1').empty()
										$('#tab-one').prop('checked', 'checked');
										table.replaceData()
										toastr.success(`Candidato Desclassificado com Sucesso`, `Sucesso! `)
								})
				}

				//formatação do icone de visualizar documento
				var printIcon = function (cell, formatterParams, onRendered) { //plain text value
						return "<i class='fa fa-file' style='display: flex; font-size: large; color: black;'></i>";
				};

				let degreetable = new Tabulator("#degree-tab", {
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 10,
						columns: [
								//coluna visualizar documento
								{
										title: "Doc",
										formatter: printIcon,
										width: 40,
										align: "center",
										cellClick: function (e, cell) {
												let dados = cell
														.getRow()
														.getData()

												console.log(dados.mimetype)
												console.log(dados.mimetype.indexOf('image/'))
												if (dados.mimetype.indexOf('image/') === 0) {
														$('#example1').empty();
														$('#example1').removeClass(" pdfobject-container")
														$('<img />')
																.prop('src', `/files/${dados.filename}`)
																.addClass("wrapperimg")
																.attr('width', '100%')
																.appendTo($('#example1'));

														VZoom.init("img", {
																backgroundColor: "transparent",
																zoomEffect: "translate",
																zoomPercentage: 70
														});

												} else {
														if (dados.mimetype.indexOf('application/pdf') === 0) {
																visualizarDocumento(dados.filename)
														} else {
																swal('Aviso', `Arquivo enviado não é do formato PDF ou Imagem.\n\nNome do Arquivo Original: ${dados.originalname}\n\nFormato do Arquivo: ${dados.mimetype}`, {
																		buttons: {
																				cancel: "Cancelar",
																				download: {
																						text: "Ver arquivo",
																						value: "download"
																				}
																		}
																}).then((value) => {
																		switch (value) {

																				case "download":
																						return fetch(`http://processoseletivo.se.senac.br/files/${dados.filename}`)
																								.then(response => response.blob())
																								.then(blob => {
																										var url = window
																												.URL
																												.createObjectURL(blob);
																										var a = document.createElement('a');
																										a.href = url;
																										a.download = `${dados.filename}`;
																										document
																												.body
																												.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
																										a.click();
																										a.remove(); //afterwards we remove the element again
																								});
																						break;

																				default:
																						swal("Nenhuma ação foi realizada");
																		}
																});
														}
												}
										}

								}, {
										title: "Escolaridade",
										field: "degreename",
										sorter: "string",
										width: '160'
								}, {
										title: "Nome Curso",
										field: "degreenamecourse",
										sorter: "string",
										width: '120',
										tooltip: true
								}, {
										title: "Conclusão",
										field: "degreeconclusionyear",
										sorter: "string",
										width: '120'
								}, {
										title: "Arq. Válido",
										field: "is_valid",
										width: '110',
										editor: "select",
										editorParams: {
												"Sim": "Sim",
												"Não": "Não"
										},
										formatter: function (cell, formatterParams) {
												var value = cell.getValue();
												if (value === '') {
														cell
																.getElement()
																.style
																.backgroundColor = "yellow";
														return "";
												} else {
														return value;
												}
										},
										cellEdited: function (cell) {
												//cell - cell component

												console.log(cell._cell.row.data.is_valid)

												let id = cell._cell.row.data.id
												let is_valid = cell._cell.row.data.is_valid

												let data = {
														'is_valid': is_valid
												}

												var headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/degree/validate/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(data)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																table.replaceData()
																toastr.success(
																		`Documento ${cell._cell.row.data.degreename} foi marcado como ${ (is_valid === 'Sim')
																		? 'Deferido'
																		: 'Indeferido'}.`,
																`Sucesso! `)
														})

										}
								}, {
										title: "Justificativa",
										field: "note",
										editor: "autocomplete",
										formatter: "textarea",
										editorParams: {
												showListOnEmpty: true, //show all values when the list is empty,
												freetext: true, //allow the user to set the value of the cell to a free text entry
												allowEmpty: true, //allow empty string values
												values: [
														"Ilegível",
														"C.H. Divergente",
														"Arquivo Vazio",
														"EXPERIENCIA DIVERGENTE DO CARGO SOLICITADO",
														"POSSUI ESCOLARIDADE, MAS NÃO POSSUI CURSO DE INFORMATICA",
														"ESTAGIO",
														"JOVEM APRENDIZ",
														"JOVEM APRENDIZ – AUXILIAR ADMINISTRATIVO",
														"DOCUMENTO DIVERGENTE",
														"DOCUMENTO DO CURSO DIVERGENTE DO CARGO SOLICITADO"
												]
										},
										width: '120',
										cellEdited: function (cell) {
												//cell - cell component

												console.log(cell._cell.row.data.note)

												let id = cell._cell.row.data.id
												let note = cell._cell.row.data.note

												let data = {
														'note': note
												}

												let headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/degree/validate/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(data)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																toastr.success(`Informação adicionada ao documento ${cell._cell.row.data.degreename}.`, `Sucesso! `)
														})

										}
								}

						]
				});
				let coursetable = new Tabulator("#course-tab", {

						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 6,
						columns: [
								//coluna visualizar documento
								{
										title: "Doc",
										formatter: printIcon,
										width: 40,
										align: "center",
										cellClick: function (e, cell) {
												let dados = cell
														.getRow()
														.getData()

												console.log(dados.mimetype)
												console.log(dados.mimetype.indexOf('image/'))
												if (dados.mimetype.indexOf('image/') === 0) {
														$('#example1').empty();
														$('#example1').removeClass(" pdfobject-container")
														$('<img />')
																.prop('src', `/files/${dados.filename}`)
																.addClass("wrapperimg")
																.attr('width', '100%')
																.appendTo($('#example1'));

														VZoom.init("img", {
																backgroundColor: "transparent",
																zoomEffect: "translate",
																zoomPercentage: 70
														});

												} else {
														if (dados.mimetype.indexOf('application/pdf') === 0) {
																visualizarDocumento(dados.filename)
														} else {
																swal('Aviso', `Arquivo enviado não é do formato PDF ou Imagem.\n\nNome do Arquivo Original: ${dados.originalname}\n\nFormato do Arquivo: ${dados.mimetype}`, {
																		buttons: {
																				cancel: "Cancelar",
																				download: {
																						text: "Ver arquivo",
																						value: "download"
																				}
																		}
																}).then((value) => {
																		switch (value) {

																				case "download":
																						return fetch(`http://processoseletivo.se.senac.br/files/${dados.filename}`)
																								.then(response => response.blob())
																								.then(blob => {
																										var url = window
																												.URL
																												.createObjectURL(blob);
																										var a = document.createElement('a');
																										a.href = url;
																										a.download = `${dados.filename}`;
																										document
																												.body
																												.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
																										a.click();
																										a.remove(); //afterwards we remove the element again
																								});
																						break;

																				default:
																						swal("Nenhuma ação foi realizada");
																		}
																});
														}
												}
										}

								}, {
										title: "Curso",
										field: "coursename",
										sorter: "string",
										formatter: "textarea",
										width: '160',
										tooltip: true
								}, {
										title: "Conclusão",
										field: "courseconclusionyear",
										sorter: "string",
										width: '120'
								}, {
										title: "C.H.",
										field: "courseworkload",
										sorter: "string",
										width: '120'
								}, {
										title: "Arq. Válido",
										field: "is_valid",
										width: '110',
										editor: "select",
										editorParams: {
												"Sim": "Sim",
												"Não": "Não"
										},
										formatter: function (cell, formatterParams) {
												var value = cell.getValue();
												if (value === '') {
														cell
																.getElement()
																.style
																.backgroundColor = "yellow";
														return "";
												} else {
														return value;
												}
										},
										cellEdited: function (cell) {
												//cell - cell component

												console.log(cell._cell.row.data.is_valid)

												let id = cell._cell.row.data.id
												let is_valid = cell._cell.row.data.is_valid

												let data = {
														'is_valid': is_valid
												}

												let headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/course/validate/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(data)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																table.replaceData()
																toastr.success(
																		`Documento ${cell._cell.row.data.coursename} foi marcado como ${ (is_valid === 'Sim')
																		? 'Deferido'
																		: 'Indeferido'}.`,
																`Sucesso! `)
														})

										}
								}, {
										title: "Justificativa",
										field: "note",
										editor: "autocomplete",
										formatter: "textarea",
										editorParams: {
												showListOnEmpty: true, //show all values when the list is empty,
												freetext: true, //allow the user to set the value of the cell to a free text entry
												allowEmpty: true, //allow empty string values
												values: [
														"Ilegível",
														"C.H. Divergente",
														"Arquivo Vazio",
														"EXPERIENCIA DIVERGENTE DO CARGO SOLICITADO",
														"POSSUI ESCOLARIDADE, MAS NÃO POSSUI CURSO DE INFORMATICA",
														"ESTAGIO",
														"JOVEM APRENDIZ",
														"JOVEM APRENDIZ – AUXILIAR ADMINISTRATIVO",
														"DOCUMENTO DIVERGENTE",
														"DOCUMENTO DO CURSO DIVERGENTE DO CARGO SOLICITADO"
												]
										},
										width: '120',
										cellEdited: function (cell) {
												//cell - cell component

												console.log(cell._cell.row.data.note)

												let id = cell._cell.row.data.id
												let note = cell._cell.row.data.note

												let data = {
														'note': note
												}

												let headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/course/validate/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(data)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																toastr.success(`Informação adicionada ao documento ${cell._cell.row.data.coursename}.`, `Sucesso! `)
														})

										}
								}
						]
				});

				var exptable = new Tabulator("#exp-tab", {

						dataLoading: function (data) {
								var obj = []
								//console.log(data)
								data.map((expprof) => obj.push(expprof))
								//console.log(obj)
								//formatando moeda
								for (var i = 0; i < obj.length; i++) {
										var a = moment(obj[i]['expdataadm']);
										var b = moment(obj[i]['expdatades']).add(1, 'days');
										obj[i]['expdata'] = b.diff(a, 'days');
								};

								//return data for download
								return obj;

						},
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 10,
						columns: [
								//coluna visualizar documento
								{
										title: "Doc",
										formatter: printIcon,
										width: 40,
										align: "center",
										cellClick: function (e, cell) {
												let dados = cell
														.getRow()
														.getData()

												console.log(dados.mimetype)
												console.log(dados.mimetype.indexOf('image/'))
												if (dados.mimetype.indexOf('image/') === 0) {
														$('#example1').empty();
														$('#example1').removeClass(" pdfobject-container")
														$('<img />')
																.prop('src', `/files/${dados.filename}`)
																.addClass("wrapperimg")
																.attr('width', '100%')
																.appendTo($('#example1'));

														VZoom.init("img", {
																backgroundColor: "transparent",
																zoomEffect: "translate",
																zoomPercentage: 70
														});

												} else {
														if (dados.mimetype.indexOf('application/pdf') === 0) {
																visualizarDocumento(dados.filename)
														} else {
																swal('Aviso', `Arquivo enviado não é do formato PDF ou Imagem.\n\nNome do Arquivo Original: ${dados.originalname}\n\nFormato do Arquivo: ${dados.mimetype}`, {
																		buttons: {
																				cancel: "Cancelar",
																				download: {
																						text: "Ver arquivo",
																						value: "download"
																				}
																		}
																}).then((value) => {
																		switch (value) {

																				case "download":
																						return fetch(`http://processoseletivo.se.senac.br/files/${dados.filename}`)
																								.then(response => response.blob())
																								.then(blob => {
																										var url = window
																												.URL
																												.createObjectURL(blob);
																										var a = document.createElement('a');
																										a.href = url;
																										a.download = `${dados.filename}`;
																										document
																												.body
																												.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
																										a.click();
																										a.remove(); //afterwards we remove the element again
																								});
																						break;

																				default:
																						swal("Nenhuma ação foi realizada");
																		}
																});
														}
												}
										}

								}, {
										title: "Empresa",
										field: "expempresa",
										sorter: "string",
										formatter: "textarea",
										width: '120',
										tooltip: true
								}, {
										title: "Cargo/Função",
										field: "expcargo",
										sorter: "string",
										formatter: "textarea",
										width: '120',
										tooltip: true
								}, {
										title: "Admissão",
										field: "expdataadm",
										align: "center",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										},
										width: '90'
								}, {
										title: "Desligamento",
										field: "expdatades",
										align: "center",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										},
										width: '100'
								}, {
										title: "Tempo de Serviço",
										field: "expdata",
										sorter: "string",
										width: '80'
								}, {
										title: "Arq. Válido",
										field: "is_valid",
										width: '110',
										editor: "select",
										editorParams: {
												"Sim": "Sim",
												"Não": "Não"
										},
										formatter: function (cell, formatterParams) {
												var value = cell.getValue();
												if (value === '') {
														cell
																.getElement()
																.style
																.backgroundColor = "yellow";
														return "";
												} else {
														return value;
												}
										},
										cellEdited: function (cell) {
												//cell - cell component

												console.log(cell._cell.row.data.is_valid)

												let id = cell._cell.row.data.id
												let is_valid = cell._cell.row.data.is_valid

												let data = {
														'is_valid': is_valid
												}

												var headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/experience/validate/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(data)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																table.replaceData()
																toastr.success(
																		`Documento ${cell._cell.row.data.expempresa} ${cell._cell.row.data.expcargo} foi marcado como ${ (is_valid)
																		? 'Deferido'
																		: 'Indeferido'}.`,
																`Sucesso! `)
														})

										}
								}, {
										title: "Justificativa",
										field: "note",
										editor: "autocomplete",
										formatter: "textarea",
										editorParams: {
												showListOnEmpty: true, //show all values when the list is empty,
												freetext: true, //allow the user to set the value of the cell to a free text entry
												allowEmpty: true, //allow empty string values
												values: [
														"Ilegível",
														"C.H. Divergente",
														"Arquivo Vazio",
														"EXPERIENCIA DIVERGENTE DO CARGO SOLICITADO",
														"POSSUI ESCOLARIDADE, MAS NÃO POSSUI CURSO DE INFORMATICA",
														"ESTAGIO",
														"JOVEM APRENDIZ",
														"JOVEM APRENDIZ – AUXILIAR ADMINISTRATIVO",
														"DOCUMENTO DIVERGENTE",
														"DOCUMENTO DO CURSO DIVERGENTE DO CARGO SOLICITADO"
												]
										},
										width: '120',
										cellEdited: function (cell) {
												//cell - cell component

												console.log(cell._cell.row.data.note)

												let id = cell._cell.row.data.id
												let note = cell._cell.row.data.note

												let data = {
														'note': note
												}

												var headers = {
														"Content-Type": "application/json",
														"Access-Control-Origin": "*"
												}

												fetch(`/app/experience/validate/${id}`, {
														method: 'POST',
														headers: headers,
														body: JSON.stringify(data)
												})
														.then(function (response) {
																return response.json();
														})
														.then(function (data) {
																toastr.success(`Informação adicionada ao documento ${cell._cell.row.data.expempresa} ${cell._cell.row.data.expcargo}.`, `Sucesso! `)
														})

										}
								}
						]
				});
				var table = new Tabulator("#candidate-table", {
						dataLoading: function (data) {
								var obj = []
								//console.log(data)
								data.map((candidates) => obj.push(candidates))
								//console.log(obj)
								//formatando moeda
								for (var i = 0; i < obj.length; i++) {

										obj[i]['degreedoc_files'] = JSON.stringify(obj[i]['degreedocs'])
										obj[i]['degreedoc_qty'] = obj[i]['degreedocs'].length

										obj[i]['coursedoc_files'] = JSON.stringify(obj[i]['coursedocs'])
										obj[i]['coursedoc_qty'] = obj[i]['coursedocs'].length

										obj[i]['experiencedoc_files'] = JSON.stringify(obj[i]['experiencedocs'])
										obj[i]['experiencedoc_qty'] = obj[i]['experiencedocs'].length
								};

								//return data for download
								return obj;

						},
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										},
										"ajax": {
												"loading": "Carregando...", //ajax loader text
												"error": "Error ao Carregar os Dados.", //ajax error text
										}
								}
						},
						height: "711px",
						layout: "fitData",
						ajaxURL: "/app/candidate/all",
						ajaxFiltering: true,
						pagination: "remote", //enable remote pagination
						paginationSize: 100,
						groupBy: "process.name",
						placeholder: "Não foram encontrados registros para os critérios informados.",
						columns: [
								{
										title: "Processo",
										field: "process.name",
										sorter: "string",
										visible: false
								}, {
										formatter: function (cell, formatterParams) { //plain text value
												var lock = cell
														.getRow()
														.getData()
														.is_lock
												if (lock)
														return "<i class='fa fa-flag blink' style='display: flex; font-size: large; color: orangered;'></i>";
												}
										,
										width: 40
								}, {
										title: "Nome",
										field: "name",
										sorter: "string",
										responsive: 0,
										headerFilter: true,
										headerFilterPlaceholder: "Filtrar...",
										tooltip: true,
										width: '210',
										formatter: function (cell, formatterParams) {
												var value = cell.getValue();
												var lock = cell
														.getRow()
														.getData()
														.is_lock
												if (lock) {
														return "<span style='text-transform: uppercase; color: orangered;'><strong>" + value + "</strong></span>";
												} else {
														return "<span style='text-transform: uppercase;'>" + value + "</span>";
												}
										}
								}, {
										title: "Cargo",
										field: "ocupation.name",
										sorter: "string",
										responsive: 0,
										tooltip: true
								}, {
										title: "CPF",
										field: "cpf",
										sorter: "string",
										responsive: 0
								}, {
										title: "Data de Nasc.",
										field: "birthday",
										align: "center",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										},
										width: '130'
								}, { //create column group
										title: "Documentos",
										columns: [
												{
														title: "Formação",
														field: "degreedoc_qty",
														sorter: "string",
														responsive: 0
												}, {
														title: "Qual. Prof.",
														field: "coursedoc_qty",
														sorter: "string",
														responsive: 0
												}, {
														title: "Exp. Prof.",
														field: "experiencedoc_qty",
														sorter: "string",
														responsive: 0
												}
										]
								}, { //create column group
										title: "Situação",
										columns: [
												{
														title: "Avaliado",
														field: "is_classified",
														align: "center",
														formatter: "tickCross",
														sorter: "boolean"
												}, {
														title: "Avaliador",
														field: "users.name",
														sorter: "string",
														responsive: 0,
														tooltip: true,
														formatter: function (cell, formatterParams) {
																var value = cell.getValue();
																var lock = cell
																		.getRow()
																		.getData()
																		.is_lock
																if (lock) {
																		return "<span style='text-transform: uppercase; color: orangered;'>" + value + "</span>";
																} else {
																		return "<span style='text-transform: uppercase;'></span>";
																}
														}
												}, {
														title: "Data/Hora",
														field: "updated_at",
														align: "center",
														formatter: "datetime",
														formatterParams: {
																inputFormat: "YYYY-MM-DD",
																outputFormat: "DD/MM/YYYY",
																invalidPlaceholder: "(invalid date)"
														},
														width: '130',
														formatter: function (cell, formatterParams) {
																var value = cell.getValue();
																var lock = cell
																		.getRow()
																		.getData()
																		.is_lock
																if (lock) {
																		return "<span style='text-transform: uppercase; color: orangered;'>" + moment(value).format('DD/MMM HH:mm') + "</span>";
																} else {
																		return "<span style='text-transform: uppercase;'></span>";
																}
														}
												}
										]
								}

						],
						responsiveLayout: 'true',
						rowClick: function (e, row) { //trigger an alert message when the row is clicked

								var user = `{{user.id}}`

								console.log(user)

								if (row._row.data.is_lock && row._row.data.users.id !== user) {
										swal("Atenção", "O Candidato " + row._row.data.name + " está bloqueado\npara o Usuário " + row._row.data.users.name + " em Avaliação", "info")
								} else {
										modal.style.display = "block";
										//console.log(row._row.data.name)
										$('#example1').empty()

										localStorage.setItem("candidateCurrent", `${row._row.data.id}`);

										let data = {
												'is_lock': true
										}

										var headers = {
												"Content-Type": "application/json",
												"Access-Control-Origin": "*"
										}

										fetch(`/app/candidate/lock/${row._row.data.id}`, {
												method: 'POST',
												headers: headers,
												body: JSON.stringify(data)
										})
												.then(function (response) {
														return response.json();
												})
												.then(function (data) {

														table.replaceData()
														toastr.info(`Candidato ${row._row.data.name} em Avaliação`, `Status! `)

														document
																.getElementById("candidate-name")
																.innerHTML = `<strong>${row
																._row
																.data
																.name} </strong><em>${row
																._row
																.data
																.ocupation
																.name}</em>`

																document
																.getElementById("profile-tab")
																.innerHTML = `<ul><li>Nome Completo: <strong>${row
																._row
																.data
																.name} (${moment(row._row.data.birthday)
																.diff(moment(), 'years') * -1})</strong>
										</li>
										<li>Data de Nascimento: <strong>${moment(row._row.data.birthday)
																.format('LL')}</strong></li>
										<li>E-mail: <strong>${row
																._row
																.data
																.email}</strong></li>
										<li>Endereço: <strong>${row
																._row
																.data
																.address}, n°${row
																._row
																.data
																.nro} Bairro ${row
																._row
																.data
																.neighborhood} - Cidade ${row
																._row
																.data
																.city}/${row
																._row
																.data
																.province}</strong></li>
										<li>PCD: ${ (row._row.data.pcd == 'S')
																		? '<span class="label label-danger blink">SIM</span>'
																		: '<strong>NÃO</strong>'} ${ (row._row.data.pcd == 'S')
																				? '(' + row._row.data.pcdtipo + ')'
																				: ''} </li>
										<li>CPF: <strong>${row
																._row
																.data
																.cpf}</strong></li><li>RG <strong>${row
																._row
																.data
																.rg}</strong></li><li>Telefone <strong>${row
																._row
																.data
																.tel}</strong></li>
										</ul>`

																degreetable
																.setData(`${row._row.data.degreedoc_files}`);

														coursetable.setData(`${row._row.data.coursedoc_files}`);

														exptable.setData(`${row._row.data.experiencedoc_files}`);

														console.log(row._row.data)

												})
								}

						}
				});
				function visualizarDocumento(doc) {
						PDFObject.embed(`/files/${doc}`, " #example1 ");
				}

				$('#tab-two').click(function () {
						degreetable.redraw(true);
				});
				$('#tab-three').click(function () {
						coursetable.redraw(true);
				});
				$('#tab-four').click(function () {
						exptable.redraw(true);
				});
				var socket = io('http://processoseletivo.se.senac.br');
				socket.on('locking', function (data) {
						table.replaceData()
				});

				var angle = 0;
				$('#rotate').on('click', function () {
						angle += 90;
						$(".wrapperimg").rotate(angle);
						console.log(angle)
				});
		</script>
{% endblock form %}
