{% extends "_layouts/form.njk" %}
{% block form %}

		<style>
				.pdfobject-container {
						width: 100%;
						height: 40rem;
						border: 1rem solid rgba(0,0,0,.1);
						overflow-y: scroll;
				}

				img {
						max-width: 100%;
						object-fit: cover;
						height: auto;
				}
		</style>

		<h2>Listagem de Candidatos Desclassificados</h2>

		<div class="form-wrapper">

				<div id="candidate-table" style="width:100%"></div>

		</div>
		<!-- Modal Gráfico Profissional x Avaliações por Mês e Ano -->
		<div id="modal-candidate" class="modal ">

				<!-- Modal content -->
				<div class="modal-content animated fadeInDown">
						<span class="close">&times;</span>

						<h2>
								<span id="candidate-name"></span>
						</h2>
						<div class="actions">
								<div class="actions-title">Ao 'Reclassificar' o Candidato voltará para lista de Pendentes.</div>
								<div class="actions-content">
										<span class="reclassified">
												<a class="btn red" href="#">
														<span class="cached material-icons">cached</span><span>Reclassificar</span></a>
										</span>
								</div>
						</div>
						<div class="flex-grid">
								<div class="form-wrapper">

										<div class="worko-tabs">

												<input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked="checked"/>
												<input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two"/>
												<input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three"/>
												<input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four"/>

												<div class="tabs flex-tabs">
														<label for="tab-one" id="tab-one-label" class="tab">Perfil</label>
														<label for="tab-two" id="tab-two-label" class="tab">Escolaridade</label>
														<label for="tab-three" id="tab-three-label" class="tab">Qualificação</label>
														<label for="tab-four" id="tab-four-label" class="tab">Experiência</label>

														<div id="tab-one-panel" class="panel active">
																<h3>Dados Pessoais</h3>
																<div id="profile-tab"></div>
														</div>
														<div id="tab-two-panel" class="panel">
																<h3>Escolaridade</h3>
																<div id="degree-tab"></div>
														</div>
														<div id="tab-three-panel" class="panel">
																<h3>Qualificação Profissional</h3>
																<div id="course-tab" style="width:100%"></div>
														</div>
														<div id="tab-four-panel" class="panel">
																<h3>Experiência na Área</h3>
																<div id="exp-tab" style="width:100%"></div>
														</div>
												</div>

										</div>
								</div>
								<div>
										<h2>Anexos</h2>
										<div class="form-wrapper">
												<div id="example1"></div>
										</div>
								</div>
						</div>
				</div>
		</div>

		<script>

				localStorage.clear();

				var modal = document.getElementById('modal-candidate');

				var span = document.getElementsByClassName("close")[0];

				span.onclick = function () {
						modal.style.display = "none";
						$('#example1').empty()
						$('#tab-one').prop('checked', 'checked');
				}

				window.onclick = function (event) {
						if (event.target == modal) {
								modal.style.display = "none";
								$('#example1').empty()
								$('#tab-one').prop('checked', 'checked');

						}
				}

				moment.locale('pt-br')

				// Função Marcar como Avaliado
				var reclassificado = document.getElementsByClassName("reclassified")[0];

				reclassificado.onclick = function () {

						const id = localStorage.getItem("candidateCurrent")

						let headers = {
								"Content-Type": "application/json",
								"Access-Control-Origin": "*"
						}

						fetch(`/app/candidate/check/${id}`, {
								method: 'POST',
								headers: headers
						})
								.then(function (response) {
										return response.json();
								})
								.then(function (data) {
										console.log(data)

										let status = {
												'is_disqualified': false
										}

										var headers = {
												"Content-Type": "application/json",
												"Access-Control-Origin": "*"
										}

										fetch(`/app/candidate/status/${id}`, {
												method: 'POST',
												headers: headers,
												body: JSON.stringify(status)
										})
												.then(function (response) {
														return response.json();
												})
												.then(function (data) {
														modal.style.display = "none";
														$('#example1').empty()
														$('#tab-one').prop('checked', 'checked');
														table.replaceData()
														toastr.success(`Candidato Reclassificado com Sucesso`, `Sucesso! `)
												})

								})
				}

				var degreetable = new Tabulator("#degree-tab", {
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 6,
						columns: [
								{
										title: "Escolaridade",
										field: "degreename",
										sorter: "string",
										width: '160'
								}, {
										title: "Nome Curso",
										field: "degreenamecourse",
										sorter: "string",
										width: '120',
										tooltip: true
								}, {
										title: "Conclusão",
										field: "degreeconclusionyear",
										sorter: "string",
										width: '120'
								}, {
										title: "Arq. Válido",
										field: "is_valid",
										width: '110',
										sorter: "string"
								}, {
										title: "Justificativa",
										field: "note",
										sorter: "string",
										width: '120'
								}

						],
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								console.log(row._row.data.mimetype)
								console.log(row._row.data.mimetype.indexOf('image/'))
								if (row._row.data.mimetype.indexOf('image/') === 0) {
										$('#example1').empty();
										$('#example1').removeClass(" pdfobject-container")
										$('<img />')
												.addClass("wrapperimg")
												.prop('src', `/files/${row._row.data.filename}`)
												.attr('width', '100%')
												.appendTo($('#example1'));

										VZoom.init("img", {
												backgroundColor: "transparent",
												zoomEffect: "translate",
												zoomPercentage: 70
										});

								} else {
										if (row._row.data.mimetype.indexOf('application/pdf') === 0) {
												visualizarDocumento(row._row.data.filename)
										} else {
												swal('Aviso', `Arquivo enviado não é do formato PDF ou Imagem.\n\nNome do Arquivo Original: ${row._row.data.originalname}\n\nFormato do Arquivo: ${row._row.data.mimetype}`, {
														buttons: {
																cancel: "Cancelar",
																download: {
																		text: "Ver arquivo",
																		value: "download"
																}
														}
												}).then((value) => {
														switch (value) {

																case "download":
																		return fetch(`http://processoseletivo.se.senac.br/files/${row._row.data.filename}`)
																				.then(response => response.blob())
																				.then(blob => {
																						var url = window
																								.URL
																								.createObjectURL(blob);
																						var a = document.createElement('a');
																						a.href = url;
																						a.download = `${row._row.data.filename}`;
																						document
																								.body
																								.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
																						a.click();
																						a.remove(); //afterwards we remove the element again
																				});
																		break;

																default:
																		swal("Nenhuma ação foi realizada");

														}
												});
										}
								}
						}
				});

				var coursetable = new Tabulator("#course-tab", {

						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 6,
						columns: [
								{
										title: "Curso",
										field: "coursename",
										sorter: "string",
										width: '160',
										tooltip: true
								}, {
										title: "Conclusão",
										field: "courseconclusionyear",
										sorter: "string",
										width: '120'
								}, {
										title: "C.H.",
										field: "courseworkload",
										sorter: "string",
										width: '120'
								}, {
										title: "Arq. Válido",
										field: "is_valid",
										width: '110',
										sorter: "string"
								}, {
										title: "Justificativa",
										field: "note",
										sorter: "string",
										width: '120'
								}
						],
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								console.log(row._row.data.mimetype)
								console.log(row._row.data.mimetype.indexOf('image/'))
								if (row._row.data.mimetype.indexOf('image/') === 0) {
										$('#example1').empty();
										$('#example1').removeClass(" pdfobject-container")
										$('<img />')
												.addClass("wrapperimg")
												.prop('src', `/files/${row._row.data.filename}`)
												.attr('width', '100%')
												.appendTo($('#example1'));

										VZoom.init("img", {
												backgroundColor: "transparent",
												zoomEffect: "translate",
												zoomPercentage: 70
										});

								} else {
										if (row._row.data.mimetype.indexOf('application/pdf') === 0) {
												visualizarDocumento(row._row.data.filename)
										} else {
												swal('Aviso', `Arquivo enviado não é do formato PDF ou Imagem.\n\nNome do Arquivo Original: ${row._row.data.originalname}\n\nFormato do Arquivo: ${row._row.data.mimetype}`, {
														buttons: {
																cancel: "Cancelar",
																download: {
																		text: "Ver arquivo",
																		value: "download"
																}
														}
												}).then((value) => {
														switch (value) {

																case "download":
																		return fetch(`http://processoseletivo.se.senac.br/files/${row._row.data.filename}`)
																				.then(response => response.blob())
																				.then(blob => {
																						var url = window
																								.URL
																								.createObjectURL(blob);
																						var a = document.createElement('a');
																						a.href = url;
																						a.download = `${row._row.data.filename}`;
																						document
																								.body
																								.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
																						a.click();
																						a.remove(); //afterwards we remove the element again
																				});
																		break;

																default:
																		swal("Nenhuma ação foi realizada");

														}
												});
										}
								}
						}
				});

				var exptable = new Tabulator("#exp-tab", {

						dataLoading: function (data) {
								var obj = []
								//console.log(data)
								data.map((expprof) => obj.push(expprof))
								//console.log(obj)
								//formatando moeda
								for (var i = 0; i < obj.length; i++) {
										var a = moment(obj[i]['expdataadm']);
										var b = moment(obj[i]['expdatades']).add(1, 'days');
										obj[i]['expdata'] = b.diff(a, 'days');
								};

								//return data for download
								return obj;

						},
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 6,
						columns: [
								{
										title: "Empresa",
										field: "expempresa",
										sorter: "string",
										width: '120',
										tooltip: true
								}, {
										title: "Cargo/Função",
										field: "expcargo",
										sorter: "string",
										width: '120',
										tooltip: true
								}, {
										title: "Admissão",
										field: "expdataadm",
										align: "center",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										},
										width: '90'
								}, {
										title: "Desligamento",
										field: "expdatades",
										align: "center",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										},
										width: '100'
								}, {
										title: "Tempo de Serviço",
										field: "expdata",
										sorter: "string",
										width: '80'
								}, {
										title: "Arq. Válido",
										field: "is_valid",
										width: '110',
										sorter: "string"
								}, {
										title: "Justificativa",
										field: "note",
										width: '120',
										sorter: "string"
								}
						],
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								console.log(row._row.data.mimetype)
								console.log(row._row.data.mimetype.indexOf('image/'))
								if (row._row.data.mimetype.indexOf('image/') === 0) {
										$('#example1').empty();
										$('#example1').removeClass(" pdfobject-container")
										$('<img />')
												.addClass("wrapperimg")
												.prop('src', `/files/${row._row.data.filename}`)
												.attr('width', '100%')
												.appendTo($('#example1'));

										VZoom.init("img", {
												backgroundColor: "transparent",
												zoomEffect: "translate",
												zoomPercentage: 70
										});

								} else {
										if (row._row.data.mimetype.indexOf('application/pdf') === 0) {
												visualizarDocumento(row._row.data.filename)
										} else {
												swal('Aviso', `Arquivo enviado não é do formato PDF ou Imagem.\n\nNome do Arquivo Original: ${row._row.data.originalname}\n\nFormato do Arquivo: ${row._row.data.mimetype}`, {
														buttons: {
																cancel: "Cancelar",
																download: {
																		text: "Ver arquivo",
																		value: "download"
																}
														}
												}).then((value) => {
														switch (value) {

																case "download":
																		return fetch(`http://processoseletivo.se.senac.br/files/${row._row.data.filename}`)
																				.then(response => response.blob())
																				.then(blob => {
																						var url = window
																								.URL
																								.createObjectURL(blob);
																						var a = document.createElement('a');
																						a.href = url;
																						a.download = `${row._row.data.filename}`;
																						document
																								.body
																								.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
																						a.click();
																						a.remove(); //afterwards we remove the element again
																				});
																		break;

																default:
																		swal("Nenhuma ação foi realizada");

														}
												});
										}
								}
						}
				});

				let table = new Tabulator("#candidate-table", {
						dataLoading: function (data) {
								let obj = []

								let pontos = []

								let totalqualprof;

								//console.log(data)
								data.map((candidates) => obj.push(candidates))
								//console.log(obj)
								//formatando moeda
								for (let i = 0; i < obj.length; i++) {

										obj[i]['degreedoc_files'] = JSON.stringify(obj[i]['degreedocs'])
										obj[i]['degreedoc_qty'] = obj[i]['degreedocs'].length

										obj[i]['degreedoc_valid'] = obj[i]['degreedocs'].filter(function (degreedoc) {
												return degreedoc.is_valid === 'Sim'
										});

										obj[i]['degreedoc_valid_qty'] = obj[i]['degreedoc_valid'].length

										obj[i]['coursedoc_files'] = JSON.stringify(obj[i]['coursedocs'])
										obj[i]['coursedoc_qty'] = obj[i]['coursedocs'].length

										obj[i]['coursedoc_valid'] = obj[i]['coursedocs'].filter(function (coursedoc) {
												return coursedoc.is_valid === 'Sim'
										});

										obj[i]['coursedoc_valid_qty'] = obj[i]['coursedoc_valid'].length

										totalqualprof = obj[i]['coursedoc_valid_qty'].length

										obj[i]['experiencedoc_files'] = JSON.stringify(obj[i]['experiencedocs'])
										obj[i]['experiencedoc_qty'] = obj[i]['experiencedocs'].length

										obj[i]['experiencedoc_valid'] = obj[i]['experiencedocs'].filter(function (experiencedoc) {
												return experiencedoc.is_valid === 'Sim'
										});

										obj[i]['experiencedoc_valid_qty'] = obj[i]['experiencedoc_valid'].length

								};

								return obj

						},
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										},
										"ajax": {
												"loading": "Carregando...", //ajax loader text
												"error": "Error ao Carregar os Dados.", //ajax error text
										}
								}
						},
						height: "711px",
						layout: "fitData",
						ajaxURL: "/app/candidate/all/disqualified",
						ajaxFiltering: true,
						pagination: "remote", //enable remote pagination
						paginationSize: 100,
						groupBy: "process.name",
						placeholder: "Não foram encontrados registros para os critérios informados.",
						columns: [
								{
										title: "Processo",
										field: "process.name",
										sorter: "string",
										visible: false
								}, {
										title: "Nome",
										field: "name",
										sorter: "string",
										responsive: 0,
										headerFilter: true,
										headerFilterPlaceholder: "Filtrar...",
										tooltip: true,
										width: 200,
										formatter: function (cell, formatterParams) {
												var value = cell.getValue();
												var lock = cell
														.getRow()
														.getData()
														.is_lock
												if (lock) {
														return "<span style='text-transform: uppercase; color: orangered;'><strong>" + value + "</strong></span>";
												} else {
														return "<span style='text-transform: uppercase;'>" + value + "</span>";
												}
										}
								}, {
										title: "Cargo",
										field: "ocupation.name",
										sorter: "string",
										responsive: 0,
										tooltip: true
								}, {
										title: "CPF",
										field: "cpf",
										sorter: "string",
										responsive: 0
								}, {
										title: "Data de Nasc.",
										field: "birthday",
										align: "center",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										},
										width: '130'
								}, { //create column group
										title: "Documentos Válidos",
										columns: [
												{
														title: "Formação",
														field: "degreedoc_valid_qty",
														sorter: "string",
														responsive: 0
												}, {
														title: "Qual. Prof.",
														field: "coursedoc_valid_qty",
														sorter: "string",
														responsive: 0
												}, {
														title: "Exp. Prof.",
														field: "experiencedoc_valid_qty",
														sorter: "string",
														responsive: 0
												}
										]
								}, { //create column group
										title: "Status",
										columns: [
												{
														title: "Desclassificação",
														field: "is_disqualified",
														align: "center",
														formatter: "tickCross",
														sorter: "boolean"
												}, {
														title: "Avaliador",
														field: "users.name",
														sorter: "string",
														responsive: 0
												}, {
														title: "Data",
														field: "updated_at",
														align: "center",
														formatter: "datetime",
														formatterParams: {
																inputFormat: "YYYY-MM-DD hh:mm",
																outputFormat: "DD/MM/YYYY hh:mm",
																invalidPlaceholder: "(invalid date)"
														},
														width: '130'
												}
										]
								}

						],
						responsiveLayout: 'true',
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								modal.style.display = "block";
								//console.log(row._row.data.name)
								$('#example1').empty()

								localStorage.setItem("candidateCurrent", `${row._row.data.id}`);

								document
										.getElementById("candidate-name")
										.innerHTML = `<strong>${row
										._row
										.data
										.name} </strong><em>${row
										._row
										.data
										.ocupation
										.name}</em>`

										document
										.getElementById("profile-tab")
										.innerHTML = `<ul><li>Nome Completo: <strong>${row
										._row
										.data
										.name} (${moment(row._row.data.birthday)
										.diff(moment(), 'years') * -1})</strong>
										</li>
										<li>Data de Nascimento: <strong>${moment(row._row.data.birthday)
										.format('LL')}</strong></li>
										<li>E-mail: <strong>${row
										._row
										.data
										.email}</strong></li>
										<li>Endereço: <strong>${row
										._row
										.data
										.address}, n°${row
										._row
										.data
										.nro} Bairro ${row
										._row
										.data
										.neighborhood} - Cidade ${row
										._row
										.data
										.city}/${row
										._row
										.data
										.province}</strong></li>
										<li>PCD: ${ (row._row.data.pcd == 'S')
												? '<span class="label label-danger blink">SIM</span>'
												: '<strong>NÃO</strong>'} ${ (row._row.data.pcd == 'S')
														? '(' + row._row.data.pcdtipo + ')'
														: ''} </li>
										<li>CPF: <strong>${row
										._row
										.data
										.cpf}</strong></li><li>RG <strong>${row
										._row
										.data
										.rg}</strong></li><li>Telefone <strong>${row
										._row
										.data
										.tel}</strong></li>
										</ul>`

										degreetable
										.setData(`${row._row.data.degreedoc_files}`);

								coursetable.setData(`${row._row.data.coursedoc_files}`);

								exptable.setData(`${row._row.data.experiencedoc_files}`);

								console.log(row._row.data)

						}
				});

				function visualizarDocumento(doc) {
						PDFObject.embed(`/files/${doc}`, " #example1 ");
				}

				$('#tab-two').click(function () {
						degreetable.redraw(true);
				});

				$('#tab-three').click(function () {
						coursetable.redraw(true);
				});

				$('#tab-four').click(function () {
						exptable.redraw(true);
				});

				var socket = io('http://processoseletivo.se.senac.br');
				socket.on('locking', function (data) {
						table.replaceData()
				});
		</script>

{% endblock form %}
