{% extends "_layouts/form.njk" %}
{% block form %}

		<h2>Inativar do Cadastro do Candidato do Processo Seletivo</h2>
		<div class="form-wrapper">
				<form action="/app/process/candidate/remove/{{ person.id }}" method="POST">
						<label for="name">Nome</label>
						<h3 style="text-transform: uppercase; color: orangered;">{{ person.name }}</h3>
						<input type="hidden" name="name" value="{{ person.name }}"/>
						<label for="email">Data Aniversário</label>
						<h3 style="text-transform: uppercase; color: orangered;">{{ person.birthday | date("DD/MM/YYYY")  }}</h3>
						<input type="hidden" name="birthday" value="{{ person.birthday }}"/>
						<label for="cpf">CPF</label>
						<h3 style="text-transform: uppercase; color: orangered;">{{ person.cpf }}</h3>
						<input type="hidden" name="cpf" value="{{ person.cpf }}"/>
						<label for="rg">RG</label>
						<h3 style="text-transform: uppercase; color: orangered;">{{ person.rg }}</h3>
						<input type="hidden" name="rg" value="{{ person.rg }}"/>
						<label for="tel">Tel</label>
						<h3 style="text-transform: uppercase; color: orangered;">{{ person.tel }}</h3>
						<input type="hidden" name="tel" value="{{ person.tel }}"/>

						<input type="hidden" name="email" value="{{ person.email }}"/>

						<input type="hidden" name="process_id" value="{{ person.process_id }}"/>

						<input type="hidden" name="ocupation_id" value="{{ person.ocupation_id }}">

						<label style="text-transform: uppercase; font-weight:bold; color: red; font-size:14px;" for="provider">Informe o motivo da inativação.</label>
						<div class="textwrapper">
								<textarea name="reason" rows="10" cols="90" required="required"></textarea>
						</div>
						<br>
						<button type="submit">Desejo Inativar do Cadastro do Candidato
								{{person.name}}
								do Processo Seletivo
						</button>

				</form>

		</div>

{% endblock form %}
