{% extends "_layouts/default.njk" %}

{% block form %}
		<h2>Relatório de Desclassificados com Anotações
		</h2>
		<div class="form-wrapper">
				<form action="/app/candidate/rptdesclassificadoporcargo" id="form-rptdesclassificadoporcargo" method='POST'>

						<label for="process_id">Selecione o Processo Seletivo Simplificado</label>
						<select name="process_id" id="process_id" required="required">
								<option value="">Selecione...</option>
								{% for process in processes %}
										<option value="{{ process.id }}">{{ process.name }}</option>
								{% endfor %}
						</select>
						<label for="ocupation_id">Selecione o Cargo</label>
						<select name="ocupation_id" id="ocupation_id" required="required">
								<option value="">Selecione...</option>
								{% for ocupation in ocupations %}
										<option value="{{ ocupation.id }}">{{ ocupation.name }}</option>
								{% endfor %}
						</select>

						<button type="submit">Gerar Relatório</button>

				</form>

		</div>

{% endblock form %}
