{% extends "_layouts/auth.njk" %}
{% block body %}
		<form action="/signin" method="POST">
				<img src="/images/logo.png" width="169" height="119" alt=""/>

				{% include "_partials/flash.njk" %}

				<input type="email" name="email" placeholder="Seu e-mail"/>
				<input type="password" name="password" id="password" placeholder="Senha secreta"/>

				<button type="submit">Entrar</button>
		</form>

{% endblock body %}
