{% extends "_layouts/default.njk" %}
{% block form %}

		<h2>Novo Cargo</h2>
		<div class="form-wrapper">
				<form action="/app/ocupation" method="POST">
						<label for="name">Nome</label>
						<input type="text" name="name" placeholder="Seu nome" required="required"/>
						<label for="detail">Descrição</label>
						<input type="detail" name="detail" placeholder="Descrição do Cargo"/>
						<label for="step">Escolaridade</label>
						<select name="degree" id="degree">
								<option value="Selecione">Selecione</option>
								<option value="Ensino Fundamental">Ensino Fundamental</option>
								<option value="Ensino Médio">Ensino Médio</option>
								<option value="Ensino Técnico">Ensino Técnico</option>
								<option value="Graduação">Graduação</option>
								<option value="Pós-Graduação">Pós-Graduação</option>
								<option value="Mestrado">Mestrado</option>
								<option value="Doutorado">Doutorado</option>
								<option value="Pós-Doutorado (Phd)">Pós-Doutorado (Phd)</option>
						</select>

						<button type="submit">Criar Cargo</button>

				</form>

		</div>

{% endblock form %}

{% block list %}
		<h2>Listagem</h2>
		<div class="form-wrapper">

				<div id="user-table" style="width:100%"></div>

		</div>

		<script type="text/javascript">

				var table = new Tabulator("#user-table", {
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "511px",
						layout: "fitData",
						ajaxURL: "/app/ocupation/all",
						ajaxFiltering: true,
						pagination: "remote", //enable remote pagination
						paginationSize: 20,
						placeholder: "Não foram encontrados registros para os critérios informados.",
						columns: [
								{
										title: "Nome",
										field: "name",
										sorter: "string",
										width: 200,
										responsive: 0,
										headerFilter: true,
										responsive: 0,
										headerFilterPlaceholder: "Filtrar pelo Nome..."
								}, {
										title: "Descrição",
										field: "detail",
										sorter: "string",
										responsive: 0
								}, {
										title: "Escolaridade",
										field: "degree",
										sorter: "string",
										responsive: 0
								}
						],
						responsiveLayout: true,
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								window.location.href = `/app/ocupation/edit/${row
										.getData()
										.id}`
						}
				})
		</script>

{% endblock list %}
