{% extends "_layouts/default.njk" %}
{% block form %}

		<h2>Editar Cargo</h2>
		<div class="form-wrapper">
				<form action="/app/ocupation/{{ ocupation.id }}" method="POST">
						<label for="name">Nome</label>
						<input type="text" name="name" value="{{ ocupation.name }}" placeholder="Seu nome" required="required"/>
						<label for="detail">Descrição</label>
						<input type="detail" name="detail" value="{{ ocupation.detail }}" placeholder="Descrição do Cargo"/>
						<label for="step">Escolaridade</label>

						<select name="degree" id="degree">
								<option {% if ocupation.degree == 'Ensino Fundamental' %} checked="checked" {% endif %} value="Ensino Fundamental">Ensino Fundamental</option>
								<option {% if ocupation.degree == 'Ensino Médio' %} checked="checked" {% endif %} value="Ensino Médio">Ensino Médio</option>
								<option {% if ocupation.degree == 'Ensino Técnico' %} checked="checked" {% endif %} value="Ensino Técnico">Ensino Técnico</option>
								<option {% if ocupation.degree == 'Graduação' %} checked="checked" {% endif %} value="Graduação">Graduação</option>
								<option {% if ocupation.degree == 'Pós-Graduação' %} checked="checked" {% endif %} value="Pós-Graduação">Pós-Graduação</option>
								<option {% if ocupation.degree == 'Mestrado' %} checked="checked" {% endif %} value="Mestrado">Mestrado</option>
								<option {% if ocupation.degree == 'Doutorado' %} checked="checked" {% endif %} value="Doutorado">Doutorado</option>
								<option {% if ocupation.degree == 'Pós-Doutorado (Phd)' %} checked="checked" {% endif %} value="Pós-Doutorado (Phd)">Pós-Doutorado (Phd)</option>
						</select>

						<button type="submit">Atulizar Cargo</button>

				</form>

		</div>

{% endblock form %}
