<div>
		<label>
				Selecione os Cargos a serem ofertados:
		</label>
</div>
<div style="display: flex;flex-wrap: wrap; max-height: 450px; overflow-y: scroll;" class="animated fadeIn" id="employees">

		{% set count = 0 %}

		{% for ocupation in ocupations %}

				{% set count = count + 1 %}
				<div class="employees">
						<div style="flex:1">
								<label class="container" for="{{ ocupation.name }}">
										<input type="checkbox" name="employee" value="{{ ocupation.id }}" id="{{ ocupation.name }}">
										<span class="checkmark"></span>
								</label>
						</div>
						<div style="flex:3">
								<strong>{{ocupation.name | upper }}</strong>
						</div>
						<div style="flex:1">
								<small>{{ocupation.degree | upper }}</small>
						</div>

				</div>

		{% endfor %}

		{% if count == 0 %}
				<div class="employees">
						<span class='label label-danger'>
								<small>NÃO HÁ CARGOS CADASTRADOS NO SISTEMA</small>
						</span>
				</div>
		{% endif %}

</div>
