<style>
		.unidadebox {
				display: flex;
				margin: -10px -10px 10px -25px;
				padding: 0 25px;
				line-height: 64px;
				padding: 0 10px 0 25px;
				font-weight: 400;
				background: #fafafa;
				color: whitesmoke;

		}

		.flex-start {
				align-self: flex-start;
		}

		.flex-end {
				align-self: flex-end;
		}

		.item {
				text-align: right;
				font-size: 1.2em;
		}

		.nomesis {
				flex: 1;
				text-align: left;
				font-size: 24px;
		}
		.unidadesel {
				width: 150px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 20px;
				font-weight: bold;
				font-size: 14px;
				border: 0;
				color: #fff;
				background: #2ca01c;
				margin-bottom: 10px;
		}
		.fa-building {
				font-size: 1.18em;
				text-align: left;
				margin-left: 20px;
				margin-bottom: 16px;
		}

		.unidaden {
				text-align: center;
				display: inline-block;
				margin: 0 auto;
		}
</style>
<!-- The Modal -->

<div class="unidadebox">
		<div class="nomesis flex-start">
				<img src="http://www.se.senac.br/wp-content/uploads/2015/05/marca1.png" alt="Logo Senac">
		</div>
</div>
