<style>

		.unidadebox {
				display: flex;
				height: 60px;
				margin: -10px -10px 10px -25px;
				padding: 0 25px;
				line-height: 64px;
				padding: 0 10px 0 25px;
				font-weight: 400;
				background: rgb(0,44,82);
				background: linear-gradient(0deg, rgba(0,44,82,1) 39%, rgba(0,85,139,1) 99%);
				color: whitesmoke;

		}

		.flex-start {
				align-self: flex-start;
		}

		.flex-end {
				align-self: flex-end;
		}

		.item {
				text-align: right;
				font-size: 1.2em;
				flex: 1;
		}

		.nomesis {
				flex: 4;
				text-align: left;
				font-size: 24px;
		}
		.unidadesel {
				width: 100%;
				max-width: 600px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 20px;
				font-weight: bold;
				font-size: 14px;
				border: 0;
				color: #fff;
				background: #2ca01c;
				margin-bottom: 10px;
		}
		.fa-building {
				font-size: 1.18em;
				text-align: left;
				margin-left: 20px;
				margin-bottom: 16px;
		}

		.unidaden {
				text-align: center;
				display: inline-block;
				margin: 0 auto;
		}

		/*
** Media Queries
***********************************************************/

		@media (max-width: 786px) {

				.unidadebox {
						display: flex;
						height: 60px;
						margin: -10px -10px 10px -25px;
						padding: 0 25px;
						line-height: 64px;
						padding: 0 10px 0 25px;
						font-weight: 400;
						background: rgb(0,44,82);
						background: linear-gradient(0deg, rgba(0,44,82,1) 39%, rgba(0,85,139,1) 99%);
						color: whitesmoke;

				}

				.item {
						text-align: right;
						font-size: 10px;
						flex: 1;
				}

				.nomesis {
						display: none;
				}

		}
</style>
<!-- The Modal -->

<div class="unidadebox">
		<div class="nomesis flex-start">Processo Seletivo Simplificado - Senac Sergipe</div>
		<div class="item flex-end">
				<div class="unidadesel">
						<i class="fa fa-building"></i>
						<a class="unidaden">
								<div onclick="javascript:openModalUnidades()">{{ currentprocess.name | replace("PROCESSO SELETIVO SIMPLIFICADO", "PSS ") }}</div>
						</a>
				</div>
		</div>
</div>
<div id="modal-unidades" class="modal">

		<!-- Modal content -->
		<div class="modal-content animated fadeInDownBig" style="width:80%;min-width:200px">
				<h3>Selecione o Processo Seletivo Simplificado</h3>
				<div class="form-wrapper ">
						<form action="/app/process/switch" id="form-unidades" method="POST">

								<select name="process_id" id="process_id" required="required">
										<option value="">Selecione...</option>
										{% for process in allprocesses %}
												<option value="{{ process.id }}">{{ process.name }}</option>
										{% endfor %}
								</select>
								<button type="submit">Alterar Processo</button>

						</form>
				</div>
		</div>
</div>
<script type="text/javascript">

		// Get the modal
		var modalunidades = document.getElementById('modal-unidades');

		// When the user clicks on the button, open the modal
		function openModalUnidades() {
				modalunidades.style.display = "block";
		}

		function closeModalUnidades() {
				modalunidades.style.display = "none";
		}
</script>
