{% for message in flashSuccess %}
		<div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in flashError %}
		<div class="alert alert-error animated shake">{{ message }}</div>
{% endfor %}
