<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>Processo Seletivo Simplificado - Senac Sergipe</title>

		<link rel="stylesheet" href="/styles.css"/>

		<link rel="stylesheet" href="/flatpickr.min.css">
		<script src="/flatpickr.js"></script>
		<script src="/pt.js"></script>

		<script src="/moment.js"></script>

		<script src="/validacao_mascara.js"></script>

		<script src="/vanilla-dataTables.min.js"></script>
		<link href="/vanilla-dataTables.min.css" rel="stylesheet" type="text/css">

		<script src="/extenso.min.js"></script>

		<script src="/Chart.min.js"></script>

		<link rel="stylesheet" href="/animate.css">

		<script src="/numeral.min.js"></script>
		<script src="/numeral.locale.js"></script>

		<script type="text/javascript" src="/lodash.min.js"></script>

		<link href="/tabulator_modern.css" rel="stylesheet">
		<script type="text/javascript" src="/tabulator.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<script src="/pdfobject.js"></script>
		<script src="/jspdf.min.js"></script>
		<script src="/jspdf.plugin.autotable.js"></script>

		<script src="/jquery-3.2.1.min.js"></script>
		<script src="/jquery-ui.min.js"></script>
		<script src="/jquery.mask.min.js"></script>
		<script src="/jquery-rotate.min.js"></script>

		<script src="/sweetalert.min.js"></script>

		<script src="/toastr.min.js"></script>
		<link rel="stylesheet" href="/toastr.min.css">

		<script src="/socket.io.js"></script>

</head>
