<nav class="nav-bar-items">

		<div class="nav-bar-link">
				<span>
						<strong>Menu</strong>
				</span>
		</div>
		<div class="nav-bar-link">
				<a href='/candidate/home'>Home</a>
		</div>
		<div class="nav-bar-link">
				<a href='/candidate/reset'>Alterar Senha</a>
		</div>
		<div class="nav-bar-link">
				<a href='/candidate/logout'>Sair do Sistema</a>
		</div>

</nav>
<nav class="nav-bar-items nav-bar-items-right">
		<div class="nav-bar-link">
				<a href='/candidate/logout'>Sair</a>
		</div>
</nav>
