<header>
		<span><img src="/files/{{ user.avatar }}" style="border-radius: 50%;" alt="Avatar"></span>
		{{ user.name }}
		<a href='/app/logout'></a>
</header>

<ul id="admin">
		<li>
				<span>
						<strong>Menu</strong>
				</span>
		</li>
		<li>
				<a href='/app/dashboard'>Dashboard</a>
		</li>
		<li>
				<a href='/app/process'>Processo Seletivo</a>
		</li>
		<li>
				<a href='/app/ocupation'>Cargos</a>
		</li>
		<li>
				<span>
						<strong>Candidatos</strong>
				</span>
		</li>
		<li>
				<a href='/app/process/candidate/pending'>Pendentes</a>
		</li>
		<li>
				<a href='/app/process/candidate/classified'>Avaliados</a>
		</li>
		<li>
				<a href='/app/process/candidate/disqualified'>Desclassificados</a>
		</li>
		<li>
				<span>
						<strong>Relatórios</strong>
				</span>
		</li>
		<li>
				<a href='/app/candidate/rptclassificadoporcargo'>Classificação</a>
		</li>
		<li>
				<a href='/app/candidate/rptdesclassificadoporcargo'>Desclassificados</a>
		</li>
		<li>
				<span>
						<strong>Sistema</strong>
				</span>
		</li>
		<li>
				<a href='/app/user'>Usuários</a>
		</li>
		<li>
				<a href='/app/user/reset'>Alterar Senha</a>
		</li>
		<li>
				<a href='/app/logout'>Sair do Sistema</a>
		</li>
</ul>
