<header>
		<span><img src="/files/{{ user.avatar }}" style="border-radius: 50%;" alt="Avatar"></span>
		{{ user.name }}
		<a href='/candidate/logout'></a>
</header>

<ul id="admin">
		<li>
				<span>
						<strong>Menu</strong>
				</span>
		</li>
		<li>
				<a href='/candidate/home'>Processos</a>
		</li>
		<li>
				<a href='/candidate/reset'>Alterar Senha</a>
		</li>
		<li>
				<a href='/candidate/logout'>Sair do Sistema</a>
		</li>
</ul>
