<nav class="nav-bar-items">

		{% if user.provider == true %}

				<div class="nav-bar-link">
						<span>
								<strong>Menu</strong>
						</span>
				</div>
				<div class="nav-bar-link">
						<a href='/app/dashboard'>Dashboard</a>
				</div>
				<div class="nav-bar-link">
						<a href='/app/process'>Processo Seletivo</a>
				</div>
				<div class="nav-bar-link">
						<a href='/app/ocupation'>Cargos</a>
				</div>
				<div class="nav-bar-link">
						<span>
								<strong>Candidatos</strong>
						</span>
				</div>
				<div class="nav-bar-link">
						<a href='/app/process/candidate/pending'>Pendentes</a>
				</div>
				<div class="nav-bar-link">
						<a href='/app/process/candidate/classified'>Avaliados</a>
				</div>
				<div class="nav-bar-link">
						<a href='/app/process/candidate/disqualified'>Desclassificados</a>
				</div>
				<div class="nav-bar-link">
						<span>
								<strong>Relatórios</strong>
						</span>
				</div>
				<div class="nav-bar-link">
						<a href='/app/candidate/rptclassificadoporcargo'>Classificação</a>
				</div>
				<div class="nav-bar-link">

						<span>
								<strong>Sistema</strong>
						</span>
				</div>
				<div class="nav-bar-link">
						<a href='/app/user'>Usuários</a>
				</div>
				<div class="nav-bar-link">
						<a href='/app/user/reset'>Alterar Senha</a>
				</div>
				<div class="nav-bar-link">
						<a href='/app/logout'>Sair do Sistema</a>
				</div>

		{% endif %}

</nav>
