{% extends "_layouts/default.njk" %}
{% block form %}
		<h2>Novo Processo Seletivo Simplificado</h2>

		<div class="form-wrapper">
				<form id="form-process">
						<label for="name">Nome</label>
						<input type="text" name="name" id="name" value="PROCESSO SELETIVO SIMPLIFICADO">
						<label for="">Cargos Ofertados</label>
						<span id="ocupations"></span>
						<label for="start_date">Inicio das Inscrições</label>
						<input type="text" class="start" name="start_date" id="start_date" placeholder="Escolha uma data">
						<label for="start_hour">Horário de Inicio</label>
						<input type="text" class="start3" name="start_hour" id="start_hour" placeholder="Escolha um horário">
						<label for="finish_date">Término das Inscrições</label>
						<input type="text" class="finish" name="finish_date" id="finish_date" placeholder="Escolha uma data">
						<label for="finish_hour">Horário de Término</label>
						<input type="text" class="finish3" name="finish_hour" id="finish_hour" placeholder="Escolha um horário">
						<input id="btnSubmit" type="button" value="Cadastrar">
				</form>

		</div>

		<!-- Modal Gráfico Profissional x Avaliações por Mês e Ano -->
		<div id="modal-process" class="modal ">

				<!-- Modal content -->
				<div class="modal-content animated fadeInDown">
						<span class="close">&times;</span>
						<h2>
								<span id="process-name"></span>
						</h2>
						<div class="flex-grid">
								<div class="form-wrapper">
										<form id="form-edit-process">
												<label for="id">Código</label>
												<input type="text" name="id" id="id" disabled="disabled">
												<label for="name">Nome</label>
												<input type="text" name="name" id="name">
												<label for="start_date">Inicio das Inscrições</label>
												<input type="text" class="start2" name="start_date" id="start_date" placeholder="Escolha uma data">
												<label for="start_hour">Horário de Inicio</label>
												<input type="text" class="start4" name="start_hour" id="start_hour" placeholder="Escolha um horário">
												<label for="finish_date">Término das Inscrições</label>
												<input type="text" class="finish2" name="finish_date" id="finish_date" placeholder="Escolha uma data">
												<label for="finish_hour">Horário de Término</label>
												<input type="text" class="finish4" name="finish_hour" id="finish_hour" placeholder="Escolha um horário">
												<label for="step">Etapa</label>
												<select name="step" id="step">
														<option value="Selecione">Selecione</option>
														<option value="Cadastrando">Cadastrando</option>
														<option value="Inscrições">Inscrições</option>
														<option value="Triagem ou seleção">Triagem ou seleção</option>
														<option value="Contato com o candidato">Contato com o candidato</option>
														<option value="Entrevista individual">Entrevista individual</option>
														<option value="Finalizado">Finalizado</option>
												</select>
												<label for="is_published">Publicado?</label>
												<label class="switch">
														<input type="checkbox" name="is_published" id="is_published">
														<span class="slider round"></span>
												</label>
												<input id="btnUpdate" type="button" value="Atualizar">
										</form>
								</div>
								<div>
										<h2>Anexos</h2>
										<div class="form-wrapper">
												<form id="form-doc-process">
														<label for="name">Nome</label>
														<input type="text" name="name" id="name">
														<label>Arquivo (*.PDF)</label>
														<label style="border: 1px solid #eee;border-radius: 4px;margin-bottom: 10px;font-size: 14px;color: #444;background-color: #fff;border-left: 3px solid #ff8e3b;" for="signature">
																<img src="/images/document.png" height="40" alt=""/>
														</label>
														<input id="signature" name="signature" type="file" placeholder="Selecionar Assinatura"/>
														<span id="filename"></span>
														<input id="btnDocument" type="button" value="Inserir">
														<label for="documents">Documentos Anexados</label>
														<span id="documents"></span>
														<div id="document-table" style="width:100%"></div>
												</form>
										</div>
								</div>
						</div>
				</div>
		</div>

		<script>
				var modal = document.getElementById('modal-process');

				var span = document.getElementsByClassName("close")[0];

				span.onclick = function () {
						modal.style.display = "none";

				}

				window.onclick = function (event) {
						if (event.target == modal) {
								modal.style.display = "none";

						}
				}
		</script>
{% endblock form %}

{% block list %}
		<h2>Listagem</h2>

		<div class="form-wrapper">

				<div id="process-table" style="width:100%"></div>

		</div>

		<script>

				var file = document.getElementById("signature");
				file.onchange = function () {
						if (file.files.length > 0) {

								document
										.getElementById('filename')
										.innerHTML = file
										.files[0]
										.name;

						}
				};

				moment.locale('pt-br')

				fetch(`/app/ocupation/list`).then(function (response) {
						response
								.text()
								.then(function (html) {
										document
												.getElementById('ocupations')
												.innerHTML = html
								})
				});

				var doctable = new Tabulator("#document-table", {
						cellEdited: function (cell) {
								//cell - cell component

								let id = cell._cell.row.data.id
								let is_published = cell._cell.row.data.is_published

								let data = {
										'is_published': is_published
								}

								var headers = {
										"Content-Type": "application/json",
										"Access-Control-Origin": "*"
								}

								fetch(`/app/document/publish/${id}`, {
										method: 'POST',
										headers: headers,
										body: JSON.stringify(data)
								})
										.then(function (response) {
												return response.json();
										})
										.then(function (data) {
												toastr.success(`As alterações foram gravados no sistema!`, `Sucesso! `)
										})

						},
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "300px",
						layout: "fitData",
						pagination: "local",
						paginationSize: 6,
						columns: [
								{
										title: "Name",
										field: "name",
										sorter: "string",
										width: 220
								}, {
										title: "Data de Publicação",
										field: "publish_date",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										}
								}, {
										title: "Publicado",
										field: "is_published",
										sorter: "string",
										formatter: "tickCross",
										sorter: "boolean",
										editor: true
								}
						]
				});

				var table = new Tabulator("#process-table", {
						dataLoading: function (data) {
								var obj = []
								data.map((employee) => obj.push(employee))
								//formatando moeda
								for (var i = 0; i < obj.length; i++) {
										var result = obj[i]['ocupations']
												.map(function (val) {
														return val.name;
												})
												.join(', ');

										obj[i]['ocupations'] = result
								};

								//return data for download
								return obj;

						},
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										},
										"ajax": {
												"loading": "Carregando...", //ajax loader text
												"error": "Error ao Carregar os Dados.", //ajax error text
										}
								}
						},
						height: "511px",
						layout: "fitData",
						ajaxURL: "/app/process/all",
						ajaxFiltering: true,
						pagination: "remote", //enable remote pagination
						paginationSize: 20,
						placeholder: "Não foram encontrados registros para os critérios informados.",
						columns: [
								{
										title: "Nome",
										field: "name",
										sorter: "string",
										responsive: 0,
										headerFilter: true,
										headerFilterPlaceholder: "Filtrar pelo Nome..."
								}, {
										title: "Cargos",
										field: "ocupations",
										sorter: "string",
										responsive: 0,
										formatter: "textarea",
										width: 220
								}, {
										title: "Publicado",
										field: "is_published",
										sorter: "string",
										formatter: "tickCross",
										sorter: "boolean"
								}, {
										title: "Etapa",
										field: "step",
										sorter: "string"
								}, {
										title: "Início",
										field: "start_date",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										}
								}, {
										title: "Hor. Início",
										field: "start_hour",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "hh:mm",
												outputFormat: "HH:mm:ss",
												invalidPlaceholder: "(invalid hour)"
										}
								}, {
										title: "Término",
										field: "finish_date",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "YYYY-MM-DD",
												outputFormat: "DD/MM/YYYY",
												invalidPlaceholder: "(invalid date)"
										}
								}, {
										title: "Hor. Término",
										field: "finish_hour",
										formatter: "datetime",
										formatterParams: {
												inputFormat: "hh:mm",
												outputFormat: "HH:mm:ss",
												invalidPlaceholder: "(invalid hour)"
										}
								}

						],
						responsiveLayout: true,
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								modal.style.display = "block";

								function populateForm(form, data) {
										$.each(data, function (key, value) {

												if (value !== null && typeof value === 'object') {
														this.populateForm(form, value);
												} else {
														var ctrl = $('[name=' + key + ']', form);
														switch (ctrl.prop("type")) {
																case "radio":
																case "checkbox":
																		ctrl.each(function () {
																				$(this).prop("checked", value);
																		});
																		break;
																default:
																		ctrl.val(value);
														}
												}
										}.bind(this));
								}

								document
										.getElementById("process-name")
										.innerHTML = `<strong>${row._row.data.name} </strong><em>${row._row.data.ocupations}</em>`

								populateForm('#form-edit-process', row._row.data);

								doctable.setData(`/app/document/process/${row._row.data.id}`);

								flatpickr('.start2', {
										dateFormat: 'Y-m-d',
										altFormat: 'd/m/Y',
										defaultDate: `${row._row.data.start_date}`,
										altInput: true,
										"locale": "pt"
								})

								flatpickr('.finish2', {
										dateFormat: 'Y-m-d',
										altFormat: 'd/m/Y',
										defaultDate: `${row._row.data.finish_date}`,
										altInput: true,
										"locale": "pt"
								})

								$('#btnUpdate').on('click', function () {
										swal({title: "Deseja proseguir com a alteração?", text: "", icon: "warning", buttons: true, dangerMode: true}).then((willDelete) => {
												if (willDelete) {

														let data = []

														var id = document
																.getElementById("form-edit-process")
																.elements['id']
																.value

														var name = document
																.getElementById("form-edit-process")
																.elements['name']
																.value

														var start_date = document
																.getElementById("form-edit-process")
																.elements['start_date']
																.value

														var finish_date = document
																.getElementById("form-edit-process")
																.elements['finish_date']
																.value

														var start_hour = document
																.getElementById("form-edit-process")
																.elements['start_hour']
																.value

														var finish_hour = document
																.getElementById("form-edit-process")
																.elements['finish_hour']
																.value

														var is_published = $("#is_published").is(":checked");

														var e = document.getElementById("form-edit-process")["step"];
														var step = e
																.options[e.selectedIndex]
																.value;

														data.push({
																'name': name,
																'start_date': start_date,
																'finish_date': finish_date,
																'start_hour': start_hour,
																'finish_hour': finish_hour,
																'is_published': is_published,
																'step': step
														})

														var headers = {
																"Content-Type": "application/json",
																"Access-Control-Origin": "*"
														}
														fetch(`/app/process/${id}`, {
																method: 'POST',
																headers: headers,
																body: JSON.stringify(data)
														})
																.then(function (response) {
																		return response.json();
																})
																.then(function (data) {
																		table.replaceData()
																		document
																				.getElementById("form-edit-process")
																				.reset();
																		modal.style.display = "none";
																		toastr.success(`As alterações foram gravados no sistema!`, `Sucesso! `)

																})
														swal("Dados Salvos com sucesso", {icon: "success"});
												} else {
														swal("Nenhuma alteração foi realizada");
												}
										});
								});

						}
				})

				flatpickr('.start', {
						dateFormat: 'Y-m-d',
						altFormat: 'd/m/Y',
						altInput: true,
						"locale": "pt"
				})

				flatpickr('.finish', {
						dateFormat: 'Y-m-d',
						altFormat: 'd/m/Y',
						altInput: true,
						"locale": "pt"
				})

				flatpickr('.start3', {
						altFormat: 'H:i',
						enableTime: true,
						noCalendar: true,
						dateFormat: "H:i",
						time_24hr: true
				})

				flatpickr('.finish3', {
						altFormat: 'H:i',
						enableTime: true,
						noCalendar: true,
						dateFormat: "H:i",
						time_24hr: true
				})

				flatpickr('.start4', {
						altFormat: 'H:i',
						enableTime: true,
						noCalendar: true,
						dateFormat: "H:i",
						time_24hr: true
				})

				flatpickr('.finish4', {
						altFormat: 'H:i',
						enableTime: true,
						noCalendar: true,
						dateFormat: "H:i",
						time_24hr: true
				})

				$('#btnSubmit').on('click', function () {

						let data = []

						var name = document
								.getElementById('name')
								.value

						var start_date = document
								.getElementById('start_date')
								.value

						var finish_date = document
								.getElementById('finish_date')
								.value

						var start_hour = document
								.getElementById('start_hour')
								.value

						var finish_hour = document
								.getElementById('finish_hour')
								.value

						var ids = []
						var employees = document.getElementsByName('employee');
						for (i = 0; i < employees.length; i++) {
								if (employees[i].checked == true) {
										ids.push(employees[i].value)
								}
						}

						data.push({
								'name': name,
								'start_date': start_date,
								'finish_date': finish_date,
								'start_hour': start_hour,
								'finish_hour': finish_hour,
								'ocupation': ids
						})

						var headers = {
								"Content-Type": "application/json",
								"Access-Control-Origin": "*"
						}
						fetch('/app/process', {
								method: 'POST',
								headers: headers,
								body: JSON.stringify(data)
						})
								.then(function (response) {
										return response.json();
								})
								.then(function (data) {
										table.replaceData()
										document
												.getElementById("form-process")
												.reset();
										toastr.success(`As avaliações foram gravados no sistema!`, `Sucesso! `)

								})

				});

				$('#btnDocument').on('click', function () {

						if (_.isNil($('input[type=file]')[0].files[0]) == false) {

								var process_id = document
										.getElementById("form-edit-process")
										.elements['id']
										.value

								let data = new FormData();

								data.append('document', $('input[type=file]')[0].files[0]);

								let params = $('#form-doc-process').serializeArray();

								$.each(params, function (i, val) {
										data.append(val.name, val.value);
								});

								data.append('process_id', process_id);

								$.ajax({
										type: "POST",
										enctype: 'multipart/form-data',
										url: "/app/document/upload",
										data: data,
										processData: false,
										contentType: false,
										success: function (data) {
												document
														.getElementById('filename')
														.innerHTML = ''
												document
														.getElementById("form-doc-process")
														.reset();
												doctable.setData(`/app/document/process/${process_id}`);
												toastr.success(`Documento inserido no sistema!`, `Sucesso! `)
										},
										error: function (e) {
												if (e.status === 500) {
														toastr.error(`O arquivo ultrapassa o limite definido, Tamanho máximo permitido 2MB`, `Erro! `)
												}
										}
								});
						} else {
								swal('Selecione um arquivo.')
						}

				});
		</script>

{% endblock list %}
