{% extends "_layouts/default-candidate.njk" %}
{% block form %}
		<h2>Alterar Senha</h2>
		<div class="form-wrapper">
				<form action="/reset/{{ user.id }}" method="POST">

						<label for="password">Digite a nova Senha</label>
						<input type="password" name="password" id="password"/>
						<label for="password2">Confirme a Senha</label>
						<input type="password" onkeyup="checkPass(); return false;" name="password2" id="password2"/>

						<span class="confirmMessage" id="confirmMessage"></span>

						<button id="btnAtualizar" type="submit" disabled="disabled">Atualizar</button>

				</form>

		</div>
		<script>
				function checkPass() {
						//Store the password field objects into variables ...
						var password = document.getElementById('password');
						var password2 = document.getElementById('password2');
						var btn = document.getElementById('btnAtualizar')
						//Store the Confimation Message Object ...
						var message = document.getElementById('confirmMessage');
						//Set the colors we will be using ...
						var goodColor = "#66cc66";
						var badColor = "#ff6666";
						//Compare the values in the password field
						//and the confirmation field
						if (password.value == password2.value) {
								//The passwords match.
								//Set the color to the good color and inform
								//the user that they have entered the correct password
								password2.style.backgroundColor = goodColor;
								message.style.color = goodColor;
								message.innerHTML = "As senhas coincidem!"
								document
										.getElementById("btnAtualizar")
										.disabled = false;
						} else {
								//The passwords do not match.
								//Set the color to the bad color and
								//notify the user.
								password2.style.backgroundColor = badColor;
								message.style.color = badColor;
								message.innerHTML = "As senhas não coincidem!"
								document
										.getElementById("btnAtualizar")
										.disabled = true;
						}
				}
		</script>
{% endblock form %}
