{% extends "_layouts/default.njk" %}
{% block form %}

		<style>
				/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
				@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

						/*
						Label the data
						*/
						td:nth-of-type(1):before {
								content: "";
						}
						td:nth-of-type(2):before {
								content: "Nome";
						}
						td:nth-of-type(3):before {
								content: "Função";
						}

				}
		</style>

		<h2>Novo Usuário</h2>
		<div class="form-wrapper">
				<form action="/app/user" method="POST" enctype="multipart/form-data">
						<label for="avatar">
								<img src="/images/avatar.svg" height="40" alt=""/>
						</label>
						<input id="avatar" name="avatar" type="file" placeholder="Selecionar Foto"/>
						<label for="name">Nome</label>
						<input type="text" name="name" placeholder="Seu nome" required="required"/>
						<label for="email">E-mail</label>
						<input type="email" name="email" placeholder="Seu e-mail"/>
						<label for="password">Senha</label>
						<input type="password" name="password" id="password" placeholder="Senha secreta"/>
						<label for="provider">Perfil de Usuário</label>
						<label for="provider">
								<input type="checkbox" name="provider" id="provider" value="1"/>
								Usuário Administrador?
						</label>
						<button type="submit">Criar conta</button>

				</form>

		</div>

{% endblock form %}

{% block list %}
		<h2>Usuários</h2>
		<div class="form-wrapper">

				<div id="user-table" style="width:100%"></div>

		</div>

		<script type="text/javascript">
				var avatarInput = document.getElementById("avatar");
				var img = document.querySelector("label[for=avatar] img");

				avatarInput.onchange = function (e) {
						img
								.classList
								.add("preview");
						img.src = URL.createObjectURL(e.target.files[0]);
				};

				var table = new Tabulator("#user-table", {
						locale: true,
						langs: {
								"pt-br": { //language definition
										"pagination": {
												"first": "Primeira",
												"first_title": "Primeira Página",
												"last": "Última",
												"last_title": "Ir para Última Página",
												"prev": "Anterior",
												"prev_title": "Ir para Pagina Anterior",
												"next": "Próxima",
												"next_title": "Ir para Próxima Página"
										}
								}
						},
						height: "511px",
						layout: "fitData",
						ajaxURL: "/app/user/getall",
						ajaxFiltering: true,
						pagination: "remote", //enable remote pagination
						paginationSize: 20,
						placeholder: "Não foram encontrados registros para os critérios informados.",
						columns: [
								{
										title: "",
										field: "avatar",
										responsive: 3,
										align: 'center',
										width: 60,
										formatter: function (cell, formatterParams) {
												var value = cell.getValue();
												return '<img style="width: 32px;height:32px;border-radius: 50%;" src="/files/' + value + '">';
										}
								}, {
										title: "Nome",
										field: "name",
										sorter: "string",
										responsive: 0,
										headerFilter: true,
										responsive: 0,
										headerFilterPlaceholder: "Filtrar pelo Nome..."
								}, {
										title: "Administrador?",
										field: "provider",
										sorter: "string",
										formatter: "tickCross",
										sorter: "boolean"
								}
						],
						responsiveLayout: true,
						rowClick: function (e, row) { //trigger an alert message when the row is clicked
								window.location.href = `/app/user/edit/${row
										.getData()
										.id}`
						}
				})
		</script>

{% endblock list %}
