{% extends "_layouts/default.njk" %}
{% block form %}
		<h2>Editar Usuário</h2>
		<div class="form-wrapper">
				<form action="/app/user/{{ person.id }}" method="POST" enctype="multipart/form-data">
						<label for="avatar" class="user">
								<img class="preview" src="/files/{{ person.avatar }}" alt="Avatar">
						</label>
						<input id="avatar" name="avatar" type="file" placeholder="Selecionar Foto"/>

						<label for="name">Nome</label>
						<input type="text" name="name" value="{{ person.name }}" placeholder="Seu nome" required="required"/>
						<label for="email">E-mail</label>
						<input type="email" name="email" value="{{ person.email }}" placeholder="Seu e-mail"/>
						<label for="provider">Usuário Administrador?</label>
						<select name="provider" id="provider">
								<option value="true" {% if person.provider == 1 %} selected="selected" {% endif %}>Sim</option>
								<option value="false" {% if person.provider == 0 %} selected="selected" {% endif %}>Não</option>
						</select>
						<button type="submit">Atualizar</button>

				</form>
				<script>
						var avatarInput = document.getElementById("avatar");
						var img = document.querySelector("label[for=avatar] img");

						avatarInput.onchange = function (e) {
								img
										.classList
										.add("preview");
								img.src = URL.createObjectURL(e.target.files[0]);
						};
				</script>
		</div>

{% endblock form %}
