<!DOCTYPE html>
<html lang="en">
		{% include "_partials/head.njk" %}
		<div class="wrapper">
				<main>
						{% include "_partials/_unidade-candidate.njk" %}
						{% include "_partials/flash.njk" %}
						<div class="animated fadeIn">
								<div class="flex-grid">
										<div>
												{% block form %}{% endblock %}
										</div>
								</div>
						</div>
				</main>
		</div>
		<style>
				.footer {
						flex-shrink: 0;
						/* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
						padding: 20px;
						background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(239,166,76,1) 0%, rgba(245,184,184,1) 100.2%);

				}
		</style>
		<footer class="footer">
				<strong>COPYRIGHT © 2019 SERVIÇO NACIONAL DE APRENDIZAGEM COMERCIAL - DEPARTAMENTO REGIONAL DE SERGIPE.
				</strong>
		</footer>
</body>
</html>
