<!DOCTYPE html>
<html lang="en">
		{% include "_partials/head.njk" %}

		<div class="nav-bar">
				<div class="nav-bar-link nav-bar-link-brand">
						{{ user.name }}
				</div>
				<div class="nav-bar-link nav-bar-link-toggle">
						<i class="fa fa-bars"></i>
				</div>
				{% include "_partials/nav-top-candidate.njk" %}
		</div>

		<div class="wrapper">
				<nav class="nav-items">
						{% include "_partials/nav-aside-candidate.njk" %}
				</nav>

				<main>
						{% include "_partials/_unidade-candidate.njk" %}
						{% include "_partials/flash.njk" %}
						<div class="animated fadeIn">
								<div class="flex-grid">
										<div>
												{% block form %}{% endblock %}
										</div>

								</div>
						</main>
				</div>

				<script type="text/javascript">
						function classToggle() {
								const navs = document.querySelectorAll('.nav-bar-items')

								navs.forEach(nav => nav.classList.toggle('nav-bar-toggle-show'));
						}
						document
								.querySelector('.nav-bar-link-toggle')
								.addEventListener('click', classToggle);
				</script>

		</body>
</html>
