<!DOCTYPE html>
<html lang="en">
		{% include "_partials/head.njk" %}

		<div class="nav-bar">
				<div class="nav-bar-link nav-bar-link-brand">
						{{ user.name }}
				</div>
				<div class="nav-bar-link nav-bar-link-toggle">
						<i class="fa fa-bars"></i>
				</div>
				{% include "_partials/nav-top.njk" %}
		</div>

		<div class="wrapper">
				<nav class="nav-items">
						{% include "_partials/nav-aside.njk" %}
				</nav>

				<main>
						{% include "_partials/_unidade.njk" %}
						{% include "_partials/flash.njk" %}
						<div class="animated fadeIn">
								<div class="flex-grid">
										<div>
												{% block form %}{% endblock %}
										</div>
								</div>
								<div class="flex-grid">
										<div>
												{% block list %}{% endblock %}
										</div>
								</div>
						</main>
				</div>
				<style>
						.footer {
								flex-shrink: 0;
								/* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
								padding: 20px;
								background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(239,166,76,1) 0%, rgba(245,184,184,1) 100.2%);

						}
				</style>
				<footer class="footer">
						Desenvolvido pelo
						<strong>Núcleo de Tecnologia da Informação do Senac Reginal Sergipe
						</strong>
						Tel: (79) 3212-1548
				</footer>
				<script type="text/javascript">
						function classToggle() {
								const navs = document.querySelectorAll('.nav-bar-items')

								navs.forEach(nav => nav.classList.toggle('nav-bar-toggle-show'));
						}
						document
								.querySelector('.nav-bar-link-toggle')
								.addEventListener('click', classToggle);
				</script>

		</body>
</html>
