@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  content: "";
  display: block;
  position: absolute;
}

html,
body {
  height: 100%;
}

body {
  background: #f5f5f5;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

h3 {
  color: #353535;
  margin-bottom: 1em;
  font-size: 1em;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

nav {
  width: 200px;
}

nav header {
  position: relative;
  height: 60px;
  padding: 15px 0 0 8px;
  font-size: 16px;
  color: #fff;
  background: #002c52;
  background: linear-gradient(0deg, #002c52 39%, #00558b 99%);
}

nav header img {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

nav header a:before {
  content: "";
  font: normal 20px fontawesome;
  top: 20px;
  right: 15px;
  color: whitesmoke;
}

nav ul span {
  display: block;
  padding: 15px;
  color: #064a8b;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
}

nav ul a {
  position: relative;
  display: block;
  padding: 15px 15px 17px 50px;
  color: #27292c;
  border-bottom: 1px solid #e8e8e8;
}

nav ul a:hover,
nav ul a.active {
  background: white;
  border-left: 7px solid #ff8e3b;
}

nav ul#admin a:before {
  font: normal 24px fontawesome;
  top: 12px;
  left: 12px;
}

nav ul#admin li:nth-child(2) a:before {
  content: "";
}

nav ul#admin li:nth-child(3) a:before {
  content: "";
}

nav ul#admin li:nth-child(4) a:before {
  content: "";
}

nav ul#admin li:nth-child(6) a:before {
  content: "";
}

nav ul#admin li:nth-child(7) a:before {
  content: "";
}

nav ul#admin li:nth-child(8) a:before {
  content: "";
}

nav ul#admin li:nth-child(8) a:before {
  content: "";
}

nav ul#admin li:nth-child(10) a:before {
  content: "";
}

nav ul#admin li:nth-child(11) a:before {
  content: "";
}

nav ul#admin li:nth-child(13) a:before {
  content: "";
}

nav ul#admin li:nth-child(14) a:before {
  content: "";
}

nav ul#admin li:nth-child(15) a:before {
  content: "";
}

main {
  flex: 1;
  padding: 10px;
  background: #f5f5f5;
}

main h1 {
  height: 60px;
  margin-top: -10px;
  margin-left: -25px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 0 25px;
  line-height: 64px;
  font-size: 24px;
  font-weight: bolder;
  color: #ff8e3b;
}

.flex-grid {
  display: flex;
  margin: 0 auto;
}

.flex-grid > div {
  flex: 1;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
}

.flex-grid > div:last-child {
  margin-right: 0;
}

.flex-grid h2 {
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 200;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px #ccc;
  background: #ffffff;
}

.flex-grid li {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 25px;
}

.flex-grid-col {
  display: flex;
  flex-direction: column;
}

.flex-grid-col > div {
  flex: 1;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  border-left: 3px solid #e2e4e7;
}

.flex-grid-col > div:last-child {
  margin-right: 0;
}

.flex-grid-col h2 {
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 200;
  border-bottom: 1px solid #ddd;
}

.flex-grid-col li {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 25px;
}

/*
** NavBar
***********************************************************/
.nav-bar {
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  background-color: #ff8e3b;
}

.nav-bar-link {
  padding-right: 8px;
}

.nav-bar-link a {
  position: relative;
  display: block;
  padding: 15px 15px 17px 50px;
  color: #fff;
}

.nav-bar-link a:before {
  font: normal 18px fontawesome;
  top: 12px;
  left: 12px;
  content: "";
}

.nav-bar-items {
  display: flex;
}

.nav-bar-items-right {
  margin-left: auto;
}

.nav-bar-link-toggle {
  display: none;
}

/*
** Form
***********************************************************/
.form-wrapper {
  display: flex;
  justify-content: center;
}

.auth-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-wrapper form label {
  font-size: smaller;
  padding-bottom: 5px;
  font-weight: 400;
  color: #393a3d;
}

.form-wrapper form > img {
  margin-bottom: 20px;
}

.form-wrapper form input[type=button] {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  background: #ff8e3b;
  margin-top: 5px;
  width: 100%;
}

.form-wrapper form input:not([type=checkbox]):not([type=number]):not([type=file]) {
  height: 40px;
  padding-left: 15px;
  border: 1px solid #f1b78d;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
  border-left: 3px solid #ff8e3b;
}

.form-wrapper form input[type=number] {
  height: 40px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
  border-left: 3px solid #ff8e3b;
}

.form-wrapper form input:not([type=checkbox]):focus {
  border-color: #c1b2f3;
}

.form-wrapper form label[for=document] {
  width: 177px;
  height: 40px;
  background: #eee;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-wrapper form label[for=avatar] {
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.form-wrapper form label[for=signature] {
  width: 300px;
  height: 80px;
  background: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.form-wrapper form label[for=signature] img.preview {
  width: 100%;
  min-height: 100%;
}

.form-wrapper form label[for=degredoc] {
  width: 300px;
  height: 80px;
  background: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.form-wrapper form label[for=degredoc] img.preview {
  width: 100%;
  min-height: 100%;
}

.form-wrapper form label[for=avatar] img.preview {
  width: 100%;
  min-height: 100%;
}

.form-wrapper form label[for=provider] {
  margin: 5px 0 10px;
  font-size: 13px;
  color: #444;
  align-self: center;
}

.form-wrapper form label[for=provider] input {
  margin-right: 2px;
}

.form-wrapper form input[type=file] {
  font-size: medium;
}

.form-wrapper form select {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
  background-color: #fff;
  border-left: 3px solid #ff8e3b;
}

.form-wrapper form button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  background: #ff8e3b;
  margin-top: 5px;
}

.form-wrapper form button:hover {
  background: #01779e;
}

.form-wrapper form a {
  margin-top: 15px;
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
}

.form-wrapper form a:hover {
  color: #666;
}

.form-wrapper form .qty {
  margin: 10px;
  text-align: center;
  background-color: beige;
  font-size: large !important;
  color: brown !important;
  font-weight: 500;
  width: 45px;
}

.form-wrapper form .readonly {
  height: 45px;
  padding: 14px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
  background-color: #eaeaea;
  border-left: 3px solid #ffbd02;
}

/*
** Login
***********************************************************/
.auth-wrapper form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.auth-wrapper form > img {
  margin-bottom: 20px;
  align-self: center;
}

.auth-wrapper form input:not([type=checkbox]) {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}

.auth-wrapper form input:not([type=checkbox]):focus {
  border-color: #c1b2f3;
}

.auth-wrapper form label[for=avatar] {
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.auth-wrapper form label[for=avatar] img.preview {
  width: 100%;
  min-height: 100%;
}

.auth-wrapper form label[for=provider] {
  margin: 5px 0 10px;
  font-size: 13px;
  color: #444;
  align-self: center;
}

.auth-wrapper form label[for=provider] input {
  margin-right: 2px;
}

.auth-wrapper form input[type=file] {
  display: none;
}

.auth-wrapper form button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  background: #008fbd;
  margin-top: 5px;
}

.auth-wrapper form button:hover {
  background: #01779e;
}

.auth-wrapper form a {
  margin-top: 15px;
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
}

.auth-wrapper form a:hover {
  color: #666;
}

/*
** Main
***********************************************************/
.main-wrapper .content {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main-wrapper .content > strong {
  display: block;
  text-align: center;
  font-size: 21px;
  color: #444;
  margin-bottom: 20px;
}

.main-wrapper .content a.logout {
  background: #de6d6d;
  text-decoration: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
}

.main-wrapper .content a.schedule {
  background: transparent;
  text-decoration: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #7159c1;
  border-radius: 4px;
  margin-bottom: 20px;
}

.main-wrapper .content a.logout:hover {
  background: #c15858;
}

.main-wrapper .content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.main-wrapper .content input {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}

ul.providers {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.provider {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 2px;
  max-width: 400px;
}

.process-active {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
  background: #ececec;
  background: linear-gradient(270deg, #ececec 39%, #f7fadf 99%);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px #ccc;
}

.employees {
  padding: 5px;
  border: 1px solid #f98d3b;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
  background: #f8bb8633;
  height: 64px;
  width: 230px;
}

.provider div {
  display: flex;
  align-items: center;
}

.provider img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.provider strong {
  margin-left: 15px;
  color: #444;
}

.provider a {
  background: #7159c1;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
}

.employees div {
  display: flex;
  align-items: center;
}

.employees img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.employees strong {
  margin-left: 10px;
  color: #444;
}

.employees a {
  background: #7159c1;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
}

.alert {
  width: 100%;
  padding: 8px 15px;
  border-radius: 4px;
  background: #f38888;
  border: 1px solid #de6d6d;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.alert-success {
  background: #adf7b2;
  border-color: #96e89c;
}

#hours {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

#hours label {
  display: flex;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

#hours label.disabled {
  opacity: 0.3;
}

#hours label input {
  margin: 0;
  height: auto;
  padding: 0;
  margin-right: 5px;
}

.main-wrapper .content form > input {
  width: 100%;
}

.main-wrapper .content form button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  background: #7159c1;
  margin-top: 5px;
}

.main-wrapper .content form button:hover {
  background: #634dac;
}

.user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.nav-bar {
  display: none;
}

.container {
  margin-top: 5px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: medium none;
}

.dataTable-sorter::before {
  bottom: 8px;
}

.dataTable-sorter::after {
  top: 8px;
}

.selected td {
  background-color: #27ae60;
  color: #fff;
}

/*
** Media Queries
***********************************************************/
@media (max-width: 786px) {
  .wrapper {
    display: block;
    min-height: 100%;
  }

  .flex-grid {
    flex-direction: column;
  }

  .flex-grid > div {
    margin-right: 0;
  }

  .nav-bar {
    display: flex;
  }

  .nav-items {
    display: none;
  }

  .nav-bar-items,
.nav-bar {
    padding: 20px 30px;
    flex-direction: column;
  }

  .nav-bar-items {
    display: none;
  }

  .nav-bar-items-right {
    margin-left: 0;
  }

  .nav-bar-toggle-show {
    display: flex;
  }

  .nav-bar-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin-top: -10px;
  }
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f8bb86;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.chart {
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

.bloco-grid-dados-processo {
  background-color: #f5f5f5;
  padding: 15px 20px;
  display: flex;
}

.bloco-grid-docs-processo {
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  min-height: 100%;
  text-decoration: none;
  border-bottom: 1px solid #e8e8e8;
  /* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.bloco-grid-docs-processo .info {
  margin-bottom: 15px;
}

.bloco-grid-docs-processo ul {
  display: block;
  padding: 15px;
  color: #444;
  text-transform: uppercase;
  font-weight: 500;
}
.bloco-grid-docs-processo ul li a {
  color: #f7941d;
  text-decoration: underline;
  line-height: 1.5;
}

.bloco-grid-dados-processo:focus,
.bloco-grid-dados-processo:hover {
  text-decoration: none;
}

.bloco-grid-dados-processo .erro-cobranca,
.bloco-grid-dados-processo .icone,
.bloco-grid-dados-processo .icone-boleto,
.bloco-grid-dados-processo .infos,
.bloco-grid-dados-processo .unidade,
.bloco-grid-dados-processo .valor {
  display: inline-block;
}

.bloco-grid-dados-processo .icone-erro-cobranca {
  margin-right: 6px;
}

.bloco-grid-dados-processo .unidade {
  color: #656565;
  text-align: center;
  margin-left: 25px;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.bloco-grid-dados-processo .unidade .abertura {
  font-size: 18px;
  width: 130px;
  max-width: 130px;
  color: #004587;
}

.bloco-grid-dados-processo .unidade .ano {
  width: 130px;
  max-width: 130px;
  color: #004587;
}

.bloco-grid-dados-processo .botao-erro-cobranca {
  border-radius: 20px;
  border: 0;
  background-color: #527ff2;
  margin-top: 10px;
  font-size: 12px;
}

.bloco-grid-dados-processo .icone-boleto {
  -ms-justify-content: left;
  -webkit-justify-content: left;
  justify-content: left;
  text-align: left;
  font-size: 24px;
  color: #656565;
  margin-top: -45px;
}

.bloco-grid-dados-processo .infos,
.bloco-grid-dados-processo .valor {
  margin-left: 25px;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.bloco-grid-dados-processo .valor {
  display: block;
  font-size: 15px;
  color: #004587;
  font-weight: 200;
}

.bloco-grid-dados-processo .infos .nome {
  display: block;
  font-size: 22px;
  color: #004587;
  font-weight: 200;
}

.bloco-grid-dados-processo .infos .situacao {
  display: inline-block;
  font-size: 13px;
  min-width: 233px;
}

.bloco-grid-dados-processo .prazo {
  margin-left: auto;
  color: #656565;
  font-size: 17px;
}

.bloco-grid-dados-processo .icone {
  color: #272727;
  font-size: 18px;
  margin-left: auto;
}

.bloco-grid-dados-processo .icone .btn {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  padding: 8px 12px 7px 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 0;
  padding: 10px 25px;
}

@media (max-width: 550px) {
  .bloco-grid-dados-processo .unidade {
    margin-left: 15px;
    display: none;
  }

  .bloco-grid-dados-processo .infos .nome {
    font-size: 18px;
  }

  .bloco-grid-dados-processo .prazo {
    font-size: 11px;
    text-align: left;
  }

  .bloco-grid-dados-processo .icone {
    color: #272727;
    font-size: 12px;
    margin-left: auto;
  }

  .bloco-grid-dados-processo .icone .btn {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    padding: 8px 12px 7px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
    z-index: 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 767px) {
  .bloco-grid-dados-processo {
    flex-direction: column;
  }
}
.label-default {
  background-color: #999999;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-primary {
  background-color: #674e9e;
}

.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #513d7c;
}

.label-success {
  background-color: #64a900;
}

.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #8cba48;
}

.label-info {
  background-color: #7acbee;
}

.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #4db9e8;
}

.label-warning {
  background-color: #fdd761;
}

.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #fcca2f;
}

.label-danger {
  background-color: #ff7857;
}

.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #ff4f24;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

pre {
  background-color: antiquewhite;
  padding: 15px;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  max-width: 671px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f1f0f0;
  margin: 5% auto;
  margin-top: 5%;
  padding: 15px;
  border: 1px solid #888;
  width: 95%;
  box-shadow: 0 0 10px #47525d;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:focus,
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chart-container {
    display: block;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 35% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 84%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
  }
}
/* The Modal (background) */
.modal-progress {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-progress-content {
  background-color: #fefefe;
  margin: 5% auto;
  margin-top: 25%;
  padding: 15px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* The Close Button */
.close-progress {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close-progress:focus,
.close-progress:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chart-container {
    display: block;
  }

  .modal-progress-content {
    background-color: #fefefe;
    margin: 35% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 84%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
  }
}
.faturamento {
  font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
  color: #ff8e3b;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
}

.apagar {
  font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
  color: #d30934;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
}

.fatmed {
  font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
  color: #4d4d4d;
  margin: 0;
  font-size: 16px;
}

.fatpsi {
  font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
  color: #4d4d4d;
  margin: 0;
  font-size: 16px;
}

div#receipts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div#lumos-container {
  transition: all 250ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: scale(0);
  opacity: 0;
  cursor: zoom-out;
}

textarea {
  width: 100%;
  border-width: 0;
}

.textwrapper {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.btn-group {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.flexbox .btn-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.btn-group .btn-inner {
  display: table-cell;
  position: relative;
  margin-left: -2px;
  border: 2px solid #d9d9d9;
  color: #bcbcbc;
  padding: 12px 20px;
  font-size: 0.8rem;
  position: relative;
  text-align: center;
  transition: all 0.1s ease-in;
  vertical-align: middle;
  z-index: 0;
}
.flexbox .btn-group .btn-inner {
  flex: 1 1 0;
  display: inline-block;
}
.btn-group .btn-inner + .btn-inner {
  margin-left: -2px;
}
.btn-group .btn-inner:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group .btn-inner:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-group .btn-inner:hover {
  background: #d8765d;
  border-color: #d8765d;
  color: white;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 34.75em) {
  .flexbox .btn-group {
    flex-direction: column;
  }
  .btn-group .btn-inner {
    border-bottom: 0;
  }
  .flexbox .btn-group .btn-inner {
    flex: auto;
  }
  .btn-group .btn-inner:first-child {
    border-radius: 4px 4px 0 0;
  }
  .btn-group .btn-inner:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: 2px solid #d9d9d9;
  }
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: -0.35rem 0 1rem;
}

.actions-title {
  display: block;
  width: 100%;
  margin: 0 0 0.25rem;
  color: #0e0e0e;
  font-weight: bold;
  font-size: 0.96em;
}

.actions-content {
  display: flex;
  flex-direction: row;
}

.btn {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0 0.35rem;
  line-height: 2.125rem;
  font-weight: 400;
  text-align: center;
  margin: 0.125rem;
  border-radius: 0.125rem;
  border: 2px solid #3f4c5c;
  background-color: #3f4c5c;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.125s ease;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}
.btn:before {
  background-color: #ffffff;
  content: "";
  display: flex;
  transform: scale(1, 0);
  transition: transform 0.25s ease;
  transform-origin: 50% 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.btn span {
  display: flex;
  position: relative;
  z-index: 1;
  align-self: center;
  padding: 0px 5px;
}
.btn .icon {
  line-height: 2.125rem;
  font-size: 1.25rem;
  margin: 0 0.25rem 0 -0.25rem;
}
.btn:hover, .btn:active, .btn:focus {
  color: #3f4c5c;
}
.btn:hover:before, .btn:active:before, .btn:focus:before {
  transform: scale(1, 1);
}
.btn.block {
  align-self: stretch;
  width: 100%;
  flex: 1 1 auto;
}
.btn.bordered {
  background-color: transparent !important;
  color: #3f4c5c;
}
.btn.bordered:before {
  background-color: #3f4c5c;
}
.btn.bordered:hover, .btn.bordered:active, .btn.bordered:focus {
  color: #ffffff;
}
.btn.rounded {
  border-radius: 1.1875rem;
}
.btn.hard {
  border-radius: 0;
}

.btn.blue {
  background-color: #4793ff;
  border-color: #4793ff;
  color: #ffffff;
}
.btn.blue:hover, .btn.blue:active, .btn.blue:focus {
  color: #4793ff;
}
.btn.blue.bordered {
  color: #4793ff;
}
.btn.blue.bordered:before {
  background-color: #4793ff;
}
.btn.blue.bordered:hover, .btn.blue.bordered:active, .btn.blue.bordered:focus {
  color: #ffffff;
}
.btn.green {
  background-color: #29c672;
  border-color: #29c672;
}
.btn.green:hover, .btn.green:active, .btn.green:focus {
  color: #29c672;
}
.btn.green.bordered {
  color: #29c672;
}
.btn.green.bordered:before {
  background-color: #29c672;
}
.btn.green.bordered:hover, .btn.green.bordered:active, .btn.green.bordered:focus {
  color: #ffffff;
}
.btn.orange {
  background-color: #ffae47;
  border-color: #ffae47;
}
.btn.orange:hover, .btn.orange:active, .btn.orange:focus {
  color: #ffae47;
}
.btn.orange.bordered {
  color: #ffae47;
}
.btn.orange.bordered:before {
  background-color: #ffae47;
}
.btn.orange.bordered:hover, .btn.orange.bordered:active, .btn.orange.bordered:focus {
  color: #ffffff;
}
.btn.red {
  background-color: #ff4747;
  border-color: #ff4747;
}
.btn.red:hover, .btn.red:active, .btn.red:focus {
  color: #ff4747;
}
.btn.red.bordered {
  color: #ff4747;
}
.btn.red.bordered:before {
  background-color: #ff4747;
}
.btn.red.bordered:hover, .btn.red.bordered:active, .btn.red.bordered:focus {
  color: #ffffff;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

#profile-tab ul {
  list-style: none;
  font-size: 1.2em;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.worko-tabs {
  margin: 0 auto;
  width: 100%;
}
.worko-tabs .state {
  position: absolute;
  left: -10000px;
}
.worko-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}
.worko-tabs .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.worko-tabs .flex-tabs .panel {
  background-color: #fff;
  padding: 20px 10px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.worko-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}
.worko-tabs .tab:hover {
  background-color: #fff;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #f79219;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
  display: block;
}

@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }
  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    order: 1;
  }
  .flex-tabs #tab-two-label {
    order: 3;
  }
  .flex-tabs #tab-three-label {
    order: 5;
  }
  .flex-tabs #tab-four-label {
    order: 7;
  }
  .flex-tabs #tab-one-panel {
    order: 2;
  }
  .flex-tabs #tab-two-panel {
    order: 4;
  }
  .flex-tabs #tab-three-panel {
    order: 6;
  }
  .flex-tabs #tab-four-panel {
    order: 8;
  }

  #tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }

  #tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}
/* form specific formatting */
.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}

.form-group label.right-inline {
  text-align: right;
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group .input-control {
    margin-top: 2px;
  }

  .form-group label.right-inline {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
  }
}
#regForm {
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 600px;
  border-radius: 4px;
  padding: 15px 45px;
  margin: auto 20%;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

/*# sourceMappingURL=styles.css.map */
