{% extends "_layouts/_dashboard.njk" %}
{% block lin1col1 %}
		<h2>Processos Seletivo</h2>
		<div class="process-active">
				<div style="flex:4;text-align: center;">
						<div>
								<span style="font-size: x-large;color: #333;font-weight: bolder;text-shadow: 1px 3px #f5f5f5;">
										{{ process.name }}
								</span>
						</div>
						{# <div>
								<select name="process_id" id="process_id" required="required">
										<option value="">Selecione...</option>
										{% for process in processes %}
												<option value="{{ process.id }}">{{ process.name }}</option>
										{% endfor %}
								</select>
						</div> #}
				</div>
				<div style="flex:3;font-size: medium;text-align: center;color: #555b61;
    font-weight: bold;">
						<p>
								<small>
										Etapa:
										<span>
												<strong>
														{{ process.step | upper }}</strong>
										</span>
								</p>
								<p>
										Inscrições:
										<strong>
												{{ process.start_date | date("DD/MMM")  }}
												a
												{{ process.finish_date | date("DD/MMM") }}
										</strong>
								</small>
						</p>
				</div>
		</div>

		<br>
		<p>
				<div id="candidatestatus-table" style="width:100%"></div>
		</p>
		<script>
				moment.locale('pt-br')

				var table = new Tabulator("#candidatestatus-table", {
						layout: "fitData",
						columns: [
								{
										title: "Status Candidatos",
										field: "s",
										width: 200
								}, {
										title: "Qtd.",
										field: "y",
										sorter: "number",
										width: 200,
										topCalc: "sum"
								}
						],
						responsive: true
				});

				table.setData({{ candidatestatus | dump | safe }});
		</script>
		{# <div>
						<span class="fatpsi">Total de Inscritos</span>
				</div>
				<div id="total"></div>
				<script>
						var total = {{ subscriptions | dump | safe }}

						var qtd = []

						total.map((data) => {
								qtd.push(Number(data.y));
						});

						const arrSum = qtd.reduce((a, b) => a + b, 0)

						document
								.getElementById("total")
								.innerHTML = arrSum
				</script> #}

{% endblock lin1col1 %}

{% block lin1col2 %}
		<h2>Nº de Inscrições por Cargo</h2>
		<canvas id="pie-chart" width="200" height="110"></canvas>

		<script>

				var ocupationdata = {{ ocupations | dump | safe }}

				var cargos = []
				var qtd = []
				var colors = []

				console.log(ocupationdata)

				ocupationdata.map((data) => {
						cargos.push(data.x);
						qtd.push(data.y);
						var rgb = [];

						for (var i = 0; i < 3; i++)
								rgb.push(Math.floor(Math.random() * 255));

						colors.push('rgba(' + rgb.join(',') + ',0.8)');
				})

				var chartqtyperocupation = new Chart(document.getElementById("pie-chart"), {
						type: 'pie',
						data: {
								labels: cargos,
								datasets: [
										{
												label: "Qtd.",
												backgroundColor: colors,
												data: qtd
										}
								]
						},
						options: {
								plugins: {
										datalabels: {
												color: 'black',
												anchor: 'center',
												align: 'end',
												display: function (context) {
														return context
																.dataset
																.data[context.dataIndex] > 0;
												},
												font: {
														weight: 'bold'
												},
												formatter: Math.round
										}
								},
								title: {
										display: false
								}
						}
				});
		</script>
{% endblock lin1col2 %}

{% block lin1col3 %}
		<h2>Nº de Inscrições por Dia</h2>
		<canvas id="bar-chart" width="150" height="35"></canvas>

		<script>
				// Bar chart

				var subscriptiondata = {{ subscriptions | dump | safe }}

				var datas = []
				var qtd = []
				var colors = []

				console.log(subscriptiondata)

				subscriptiondata.map((data) => {
						datas.push(moment(data.x).format('DD/MMM'));
						qtd.push(data.y);
						var rgb = [];

						for (var i = 0; i < 3; i++)
								rgb.push(Math.floor(Math.random() * 255));

						colors.push('rgba(' + rgb.join(',') + ',0.8)');
				})

				var chartqtyperdat = new Chart(document.getElementById("bar-chart"), {
						type: 'bar',
						data: {
								labels: datas,
								datasets: [
										{
												label: "Qtd: ",
												backgroundColor: colors,
												data: qtd
										}
								]
						},
						options: {

								plugins: {
										datalabels: {
												color: 'black',
												anchor: 'end',
												align: 'end',
												display: function (context) {
														return context
																.dataset
																.data[context.dataIndex] > 0;
												},
												font: {
														weight: 'bold'
												},
												formatter: Math.round
										}
								},
								legend: {
										display: false
								},
								title: {
										display: false
								},
								scales: {
										xAxes: [
												{
														stacked: true
												}
										],
										yAxes: [
												{
														stacked: true
												}
										]
								}
						}
				});
		</script>

{% endblock lin1col3 %}

{% block lin2col1 %}{% endblock lin2col1 %}

{% block lin2col2 %}
		<h2>Data Limite</h2>
{% endblock lin2col2 %}
