// Variables
$maven-orange: #d8765d;
$maven-red: #bc5e47;
$gray-alto: rgb(217, 217, 217);

$global-border-color: $gray-alto;
$global-radius: 4px;

// Button Group Mixin
@mixin button-group(
	$background-color: white,
	$background-hover-color: white,
	$border-width: 2px,
	$border-color: $global-border-color,
	$border-radius: $global-radius,
	$color: $border-color,
	$color-hover: $border-color,
	$darken: 20%,
	$icon-margin: 3px,
	$inner-button-class: "btn-inner",
	$max-width: 40em,
	$padding: 12px 20px
) {
	display: table;
	width: 100%;
	table-layout: fixed;

	// Test for Flexbox using Modernizr
	.flexbox & {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
	}

	// Use Display Table as a fall back for older browsers
	.#{$inner-button-class} {
		display: table-cell;
		position: relative;
		margin-left: -2px;
		border: $border-width solid $border-color;
		color: $color;
		padding: $padding;
		font-size: 0.8rem;
		position: relative;
		text-align: center;
		transition: all 0.1s ease-in;
		vertical-align: middle;
		z-index: 0;

		.flexbox & {
			flex: 1 1 0;
			display: inline-block;
		}

		@content;

		// Negate added borders
		+ .#{$inner-button-class} {
			margin-left: -$border-width;
		}

		// If a border radius is present, add it.
		@if $border-radius {
			&:first-child {
				border-radius: $border-radius 0 0 $border-radius;
			}

			&:last-child {
				border-radius: 0 $border-radius $border-radius 0;
			}
		}

		// Create the hover effect.
		&:hover {
			background: $background-hover-color;
			border-color: $background-hover-color;
			color: $color-hover;
			cursor: pointer;
			z-index: 1;
		}
	}

	// This breakpoint is random for Codepen, so you may need to update it.
	@media screen and (max-width: 34.75em) {
		.flexbox & {
			flex-direction: column;
		}

		.#{$inner-button-class} {
			border-bottom: 0;
			.flexbox & {
				flex: auto;
			}
			&:first-child {
				border-radius: $border-radius $border-radius 0 0;
			}

			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;
				border-bottom: $border-width solid $border-color;
			}
		}
	}
}

// Use the mixin above like so:
.btn-group {
	@include button-group(
		$background-hover-color: $maven-orange,
		$color: #bcbcbc,
		$color-hover: white
	);
}

// BUTTONS

$black: #000000;
$white: #ffffff;
$whitesmoke: #f5f5f5;
$grey: #777777;
$grey-dark: #444444;
$blue-grey: #3f4c5c;
$blue: #4793ff;
$green: #29c672;
$orange: #ffae47;
$red: #ff4747;

.actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	margin: -0.35rem 0 1rem;
}

.actions-title {
	display: block;
	width: 100%;
	margin: 0 0 0.25rem;
	color: #0e0e0e;
	font-weight: bold;
	font-size: 0.96em;
}

.actions-content {
	display: flex;
	flex-direction: row;
}

.btn {
	position: relative;
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	padding: 0 0.35rem;
	line-height: 2.125rem;
	font-weight: 400;
	text-align: center;
	margin: 0.125rem;

	border-radius: 0.125rem;
	border: 2px solid $blue-grey;
	background-color: $blue-grey;
	color: $white;
	text-decoration: none;
	transition: color 0.125s ease;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
	outline: none;

	&:before {
		background-color: $white;
		content: "";
		display: flex;
		transform: scale(1, 0);
		transition: transform 0.25s ease;
		transform-origin: 50% 100%;
		position: absolute;
		overflow: hidden;
		border-radius: 1px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		//will-change: transform; //strange bug with right border
		z-index: 0;
	}

	span {
		display: flex;
		position: relative;
		z-index: 1;
		align-self: center;
		padding: 0px 5px;
	}

	.icon {
		line-height: 2.125rem;
		font-size: 1.25rem;
		margin: 0 0.25rem 0 -0.25rem;
	}

	&:hover,
	&:active,
	&:focus {
		color: $blue-grey;

		&:before {
			transform: scale(1, 1);
		}
	}

	&.block {
		align-self: stretch;
		width: 100%;
		flex: 1 1 auto;
	}

	&.bordered {
		background-color: transparent !important;
		color: $blue-grey;

		&:before {
			background-color: $blue-grey;
		}

		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
	}

	&.rounded {
		border-radius: 1.1875rem;
	}

	&.hard {
		border-radius: 0;
	}
}

.btn {
	&.blue {
		background-color: $blue;
		border-color: $blue;
		color: $white;

		&:hover,
		&:active,
		&:focus {
			color: $blue;
		}

		&.bordered {
			color: $blue;

			&:before {
				background-color: $blue;
			}

			&:hover,
			&:active,
			&:focus {
				color: $white;
			}
		}
	}

	&.green {
		background-color: $green;
		border-color: $green;

		&:hover,
		&:active,
		&:focus {
			color: $green;
		}

		&.bordered {
			color: $green;

			&:before {
				background-color: $green;
			}

			&:hover,
			&:active,
			&:focus {
				color: $white;
			}
		}
	}

	&.orange {
		background-color: $orange;
		border-color: $orange;

		&:hover,
		&:active,
		&:focus {
			color: $orange;
		}

		&.bordered {
			color: $orange;

			&:before {
				background-color: $orange;
			}

			&:hover,
			&:active,
			&:focus {
				color: $white;
			}
		}
	}

	&.red {
		background-color: $red;
		border-color: $red;

		&:hover,
		&:active,
		&:focus {
			color: $red;
		}

		&.bordered {
			color: $red;

			&:before {
				background-color: $red;
			}

			&:hover,
			&:active,
			&:focus {
				color: $white;
			}
		}
	}
}
