@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$color: #f5f5f5;
$color-d: darken($color, 5%);
$color-l: lighten($color, 7.5%);

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	content: "";
	display: block;
	position: absolute;
}

html,
body {
	height: 100%;
}

body {
	background: $color;
	font-family: "Noto Sans", sans-serif;
	font-size: 13px;
	text-rendering: optimizelegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

a {
	cursor: pointer;
}

ul {
	list-style: none;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
}

h3 {
	color: #353535;
	margin-bottom: 1em;
	font-size: 1em;
}

.wrapper {
	display: flex;
	min-height: 100%;
}

nav {
	width: 200px;
}

nav header {
	position: relative;
	height: 60px;
	padding: 15px 0 0 8px;
	font-size: 16px;
	color: #fff;
	background: rgb(0, 44, 82);
	background: linear-gradient(
		0deg,
		rgba(0, 44, 82, 1) 39%,
		rgba(0, 85, 139, 1) 99%
	);
}

nav header img {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

nav header a:before {
	content: "\f08b";
	font: normal 20px fontawesome;
	top: 20px;
	right: 15px;
	color: whitesmoke;
}

nav ul span {
	display: block;
	padding: 15px;
	color: #064a8b;
	text-transform: uppercase;
	border-bottom: 1px solid $color-d;
}

nav ul a {
	position: relative;
	display: block;
	padding: 15px 15px 17px 50px;
	color: #27292c;
	border-bottom: 1px solid $color-d;
}

nav ul a:hover,
nav ul a.active {
	background: $color-l;
	border-left: 7px solid #ff8e3b;
}

nav ul#admin a:before {
	font: normal 24px fontawesome;
	top: 12px;
	left: 12px;
}

nav ul#admin li:nth-child(2) a:before {
	content: "\f00a"; //dash board
}
nav ul#admin li:nth-child(3) a:before {
	content: "\f1b3"; //proc. seletivo
}
nav ul#admin li:nth-child(4) a:before {
	content: "\f2ba"; //aval. candidato
}

nav ul#admin li:nth-child(6) a:before {
	content: "\f01c"; //pendentes
}
nav ul#admin li:nth-child(7) a:before {
	content: "\f00c"; // avaliados
}
nav ul#admin li:nth-child(8) a:before {
	content: "\f05e"; // desclassificados
}

nav ul#admin li:nth-child(8) a:before {
	content: "\f05e"; // desclassificados
}

nav ul#admin li:nth-child(10) a:before {
	content: "\f0f6"; // relatorio
}
nav ul#admin li:nth-child(11) a:before {
	content: "\f0f6"; // relatorio
}

nav ul#admin li:nth-child(13) a:before {
	content: "\f234"; //usuarios
}
nav ul#admin li:nth-child(14) a:before {
	content: "\f084"; // senha
}
nav ul#admin li:nth-child(15) a:before {
	content: "\f08b"; // sair
}

main {
	flex: 1;
	padding: 10px;
	background: #f5f5f5;
}

main h1 {
	height: 60px;
	margin-top: -10px;
	margin-left: -25px;
	margin-right: -10px;
	margin-bottom: 10px;
	padding: 0 25px;
	line-height: 64px;
	font-size: 24px;
	font-weight: bolder;
	color: #ff8e3b;
}

.flex-grid {
	display: flex;
	margin: 0 auto;
}

.flex-grid > div {
	flex: 1;
	margin: 0 20px 20px 0;
	padding: 15px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	//border-left: 3px solid #e2e4e7;
}

.flex-grid > div:last-child {
	margin-right: 0;
}

.flex-grid h2 {
	margin: -15px -15px 15px -15px;
	padding: 12px 15px;
	font-size: 18px;
	font-weight: 200;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 4px #ccc;
	background: #ffffff;
}

.flex-grid li {
	position: relative;
	margin: 0 0 10px;
	padding: 0 0 0 25px;
}

.flex-grid-col {
	display: flex;
	flex-direction: column;
}

.flex-grid-col > div {
	flex: 1;
	margin: 0 20px 20px 0;
	padding: 15px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	border-left: 3px solid #e2e4e7;
}

.flex-grid-col > div:last-child {
	margin-right: 0;
}

.flex-grid-col h2 {
	margin: -15px -15px 15px -15px;
	padding: 12px 15px;
	font-size: 18px;
	font-weight: 200;
	border-bottom: 1px solid #ddd;
}

.flex-grid-col li {
	position: relative;
	margin: 0 0 10px;
	padding: 0 0 0 25px;
}

/*
** NavBar
***********************************************************/

.nav-bar {
	display: flex;
	padding: 16px;
	font-family: sans-serif;
	color: white;
	background-color: #ff8e3b;
}
.nav-bar-link {
	padding-right: 8px;
}

.nav-bar-link a {
	position: relative;
	display: block;
	padding: 15px 15px 17px 50px;
	color: #fff;
}

.nav-bar-link a:before {
	font: normal 18px fontawesome;
	top: 12px;
	left: 12px;
	content: "\f0c1";
}

.nav-bar-items {
	display: flex;
}
.nav-bar-items-right {
	margin-left: auto;
}
.nav-bar-link-toggle {
	display: none;
}

/*
** Form
***********************************************************/

.form-wrapper {
	display: flex;
	justify-content: center;
}

.auth-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 60px;
}

.form-wrapper form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-wrapper form label {
	font-size: smaller;
	padding-bottom: 5px;
	font-weight: 400;
	color: #393a3d;
}

.form-wrapper form > img {
	margin-bottom: 20px;
}

.form-wrapper form input[type="button"] {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	color: #fff;
	background: #ff8e3b;
	margin-top: 5px;
	width: 100%;
}

.form-wrapper
	form
	input:not([type="checkbox"]):not([type="number"]):not([type="file"]) {
	height: 40px;
	padding-left: 15px;
	border: 1px solid #f1b78d;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 14px;
	border-left: 3px solid #ff8e3b;
}

.form-wrapper form input[type="number"] {
	height: 40px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
	border-left: 3px solid #ff8e3b;
}

.form-wrapper form input:not([type="checkbox"]):focus {
	border-color: #c1b2f3;
}

.form-wrapper form label[for="document"] {
	width: 177px;
	height: 40px;
	background: #eee;
	// border-radius: 10px;
	// display: flex;
	justify-content: center;
	align-items: center;
	// margin-bottom: 20px;
	overflow: hidden;
}

.form-wrapper form label[for="avatar"] {
	width: 80px;
	height: 80px;
	background: #eee;
	border-radius: 50%;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.form-wrapper form label[for="signature"] {
	width: 300px;
	height: 80px;
	background: #eee;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.form-wrapper form label[for="signature"] img.preview {
	width: 100%;
	min-height: 100%;
}

.form-wrapper form label[for="degredoc"] {
	width: 300px;
	height: 80px;
	background: #eee;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.form-wrapper form label[for="degredoc"] img.preview {
	width: 100%;
	min-height: 100%;
}

.form-wrapper form label[for="avatar"] img.preview {
	width: 100%;
	min-height: 100%;
}

.form-wrapper form label[for="provider"] {
	margin: 5px 0 10px;
	font-size: 13px;
	color: #444;
	align-self: center;
}

.form-wrapper form label[for="provider"] input {
	margin-right: 2px;
}

.form-wrapper form input[type="file"] {
	// display: none;
	font-size: medium;
}

.form-wrapper form select {
	height: 40px;
	padding: 0 15px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
	background-color: #fff;
	border-left: 3px solid #ff8e3b;
}

.form-wrapper form button {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	color: #fff;
	background: #ff8e3b;
	margin-top: 5px;
}

.form-wrapper form button:hover {
	background: #01779e;
}

.form-wrapper form a {
	margin-top: 15px;
	display: block;
	text-align: center;
	color: #999;
	text-decoration: none;
}

.form-wrapper form a:hover {
	color: #666;
}

.form-wrapper form .qty {
	margin: 10px;
	text-align: center;
	background-color: beige;
	font-size: large !important;
	color: brown !important;
	font-weight: 500;
	width: 45px;
}

.form-wrapper form .readonly {
	height: 45px;
	padding: 14px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
	background-color: #eaeaea;
	border-left: 3px solid #ffbd02;
}

/*
** Login
***********************************************************/

.auth-wrapper form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.auth-wrapper form > img {
	margin-bottom: 20px;
	align-self: center;
}

.auth-wrapper form input:not([type="checkbox"]) {
	height: 40px;
	padding: 0 15px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
}

.auth-wrapper form input:not([type="checkbox"]):focus {
	border-color: #c1b2f3;
}

.auth-wrapper form label[for="avatar"] {
	width: 80px;
	height: 80px;
	background: #eee;
	border-radius: 50%;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.auth-wrapper form label[for="avatar"] img.preview {
	width: 100%;
	min-height: 100%;
}

.auth-wrapper form label[for="provider"] {
	margin: 5px 0 10px;
	font-size: 13px;
	color: #444;
	align-self: center;
}

.auth-wrapper form label[for="provider"] input {
	margin-right: 2px;
}

.auth-wrapper form input[type="file"] {
	display: none;
}

.auth-wrapper form button {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	color: #fff;
	background: #008fbd;
	margin-top: 5px;
}

.auth-wrapper form button:hover {
	background: #01779e;
}

.auth-wrapper form a {
	margin-top: 15px;
	display: block;
	text-align: center;
	color: #999;
	text-decoration: none;
}

.auth-wrapper form a:hover {
	color: #666;
}

/*
** Main
***********************************************************/

.main-wrapper .content {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	padding: 30px 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main-wrapper .content > strong {
	display: block;
	text-align: center;
	font-size: 21px;
	color: #444;
	margin-bottom: 20px;
}

.main-wrapper .content a.logout {
	background: #de6d6d;
	text-decoration: none;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	color: #fff;
}

.main-wrapper .content a.schedule {
	background: transparent;
	text-decoration: none;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #7159c1;
	border-radius: 4px;
	margin-bottom: 20px;
}

.main-wrapper .content a.logout:hover {
	background: #c15858;
}

.main-wrapper .content p {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
	text-align: center;
}

.main-wrapper .content input {
	height: 40px;
	padding: 0 15px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
}

ul.providers {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.provider {
	padding: 5px;
	// margin: 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
	//margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	//flex-grow: 1;
	flex: 1;
	margin: 2px;
	max-width: 400px;
}

.process-active {
	padding: 10px;
	// margin: 5px;
	border-radius: 4px;
	//margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	//flex-grow: 1;
	//flex: 1;
	margin: 2px;
	background: rgb(236, 236, 236);
	background: linear-gradient(
		270deg,
		rgba(236, 236, 236, 1) 39%,
		rgba(247, 250, 223, 1) 99%
	);
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 4px #ccc;
}

.employees {
	padding: 5px;
	// margin: 5px;
	border: 1px solid #f98d3b;
	border-radius: 4px;
	//margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	//flex-grow: 1;
	//flex: 1;
	margin: 2px;
	background: #f8bb8633;
	height: 64px;
	width: 230px;
}

.provider div {
	display: flex;
	align-items: center;
}

.provider img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.provider strong {
	margin-left: 15px;
	color: #444;
}

.provider a {
	background: #7159c1;
	padding: 5px 10px;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	color: #fff;
}

.employees div {
	display: flex;
	align-items: center;
}

.employees img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.employees strong {
	margin-left: 10px;
	color: #444;
}

.employees a {
	background: #7159c1;
	padding: 5px 10px;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	color: #fff;
}

.alert {
	width: 100%;
	padding: 8px 15px;
	border-radius: 4px;
	background: #f38888;
	border: 1px solid #de6d6d;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 10px;
}

.alert-success {
	background: #adf7b2;
	border-color: #96e89c;
}

#hours {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

#hours label {
	display: flex;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 8px;
	justify-content: center;
	align-items: center;
}

#hours label.disabled {
	opacity: 0.3;
}

#hours label input {
	margin: 0;
	height: auto;
	padding: 0;
	margin-right: 5px;
}

.main-wrapper .content form > input {
	width: 100%;
}

.main-wrapper .content form button {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	color: #fff;
	background: #7159c1;
	margin-top: 5px;
}

.main-wrapper .content form button:hover {
	background: #634dac;
}

.user img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.nav-bar {
	display: none;
}

.container {
	margin-top: 5px;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
	outline: medium none;
}

.dataTable-sorter::before {
	bottom: 8px;
}
.dataTable-sorter::after {
	top: 8px;
}

.selected {
	td {
		background-color: #27ae60;
		color: #fff;
	}
}

/*
** Media Queries
***********************************************************/

@media (max-width: 786px) {
	.wrapper {
		display: block;
		min-height: 100%;
	}

	.flex-grid {
		flex-direction: column;
	}

	.flex-grid > div {
		margin-right: 0;
	}

	.nav-bar {
		display: flex;
	}

	.nav-items {
		display: none;
	}

	.nav-bar-items,
	.nav-bar {
		padding: 20px 30px;
		flex-direction: column;
	}
	.nav-bar-items {
		display: none;
	}
	.nav-bar-items-right {
		margin-left: 0;
	}
	.nav-bar-toggle-show {
		display: flex;
	}
	.nav-bar-link-toggle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
		margin-top: -10px;
	}
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: -4px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #f8bb86;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.chart {
	width: 100%;
	width: -moz-available;
	/* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;
	/* Mozilla-based browsers will ignore this. */
	width: fill-available;
	height: 100%;
	height: -moz-available;
	/* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available;
	/* Mozilla-based browsers will ignore this. */
	height: fill-available;
}

.bloco-grid-dados-processo {
	background-color: #f5f5f5;
	padding: 15px 20px;
	display: flex;
}

.bloco-grid-docs-processo {
	background-color: white;
	padding: 15px 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	height: 100%;
	width: 100%;
	min-height: 100%;
	text-decoration: none;
	border-bottom: 1px solid #e8e8e8;

	/* habilita o flex nos filhos diretos */
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.bloco-grid-docs-processo .info {
	margin-bottom: 15px;
}

.bloco-grid-docs-processo ul {
	display: block;
	padding: 15px;
	color: #444;
	text-transform: uppercase;
	font-weight: 500;
	li a {
		color: #f7941d;
		text-decoration: underline;
		line-height: 1.5;
	}
}

.bloco-grid-dados-processo:focus,
.bloco-grid-dados-processo:hover {
	text-decoration: none;
}

.bloco-grid-dados-processo .erro-cobranca,
.bloco-grid-dados-processo .icone,
.bloco-grid-dados-processo .icone-boleto,
.bloco-grid-dados-processo .infos,
.bloco-grid-dados-processo .unidade,
.bloco-grid-dados-processo .valor {
	display: inline-block;
}

.bloco-grid-dados-processo .icone-erro-cobranca {
	margin-right: 6px;
}

.bloco-grid-dados-processo .unidade {
	color: #656565;
	text-align: center;
	margin-left: 25px;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.bloco-grid-dados-processo .unidade .abertura {
	font-size: 18px;
	width: 130px;
	max-width: 130px;
	color: #004587;
}

.bloco-grid-dados-processo .unidade .ano {
	width: 130px;
	max-width: 130px;
	color: #004587;
}

.bloco-grid-dados-processo .botao-erro-cobranca {
	border-radius: 20px;
	border: 0;
	background-color: #527ff2;
	margin-top: 10px;
	font-size: 12px;
}

.bloco-grid-dados-processo .icone-boleto {
	-ms-justify-content: left;
	-webkit-justify-content: left;
	justify-content: left;
	text-align: left;
	font-size: 24px;
	color: #656565;
	margin-top: -45px;
}

.bloco-grid-dados-processo .infos,
.bloco-grid-dados-processo .valor {
	margin-left: 25px;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.bloco-grid-dados-processo .valor {
	display: block;
	font-size: 15px;
	color: #004587;
	font-weight: 200;
}

.bloco-grid-dados-processo .infos .nome {
	display: block;
	font-size: 22px;
	color: #004587;
	font-weight: 200;
}
.bloco-grid-dados-processo .infos .situacao {
	display: inline-block;
	font-size: 13px;
	min-width: 233px;
}

.bloco-grid-dados-processo .prazo {
	margin-left: auto;
	color: #656565;
	font-size: 17px;
}
.bloco-grid-dados-processo .icone {
	color: #272727;
	font-size: 18px;
	margin-left: auto;
}

.bloco-grid-dados-processo .icone .btn {
	text-decoration: none;
	cursor: pointer;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	padding: 8px 12px 7px 12px;
	border-radius: 10px;
	transition: all 0.3s ease;
	z-index: 0;
	padding: 10px 25px;
}

@media (max-width: 550px) {
	.bloco-grid-dados-processo .unidade {
		margin-left: 15px;
		display: none;
	}

	.bloco-grid-dados-processo .infos .nome {
		font-size: 18px;
	}

	.bloco-grid-dados-processo .prazo {
		font-size: 11px;
		text-align: left;
	}

	.bloco-grid-dados-processo .icone {
		color: #272727;
		font-size: 12px;
		margin-left: auto;
	}

	.bloco-grid-dados-processo .icone .btn {
		text-decoration: none;
		cursor: pointer;
		position: relative;
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		line-height: 1;
		padding: 8px 12px 7px 12px;
		border-radius: 10px;
		transition: all 0.3s ease;
		z-index: 0;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 767px) {
	.bloco-grid-dados-processo {
		flex-direction: column;
	}
}

.label-default {
	background-color: #999999;
}
.label {
	display: inline;
	padding: 0.2em 0.6em 0.3em;
	font-size: 85%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;
}

.label-primary {
	background-color: #674e9e;
}
.label-primary[href]:focus,
.label-primary[href]:hover {
	background-color: #513d7c;
}

.label-success {
	background-color: #64a900;
}
.label-success[href]:focus,
.label-success[href]:hover {
	background-color: #8cba48;
}

.label-info {
	background-color: #7acbee;
}
.label-info[href]:focus,
.label-info[href]:hover {
	background-color: #4db9e8;
}

.label-warning {
	background-color: #fdd761;
}
.label-warning[href]:focus,
.label-warning[href]:hover {
	background-color: #fcca2f;
}

.label-danger {
	background-color: #ff7857;
}
.label-danger[href]:focus,
.label-danger[href]:hover {
	background-color: #ff4f24;
}

.chart-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

pre {
	background-color: antiquewhite;
	padding: 15px;
	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;

	max-width: 671px;
}
/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	// background-color: #fefefe;
	background-color: #f1f0f0;
	margin: 5% auto;
	margin-top: 5%;
	padding: 15px;
	border: 1px solid #888;
	width: 95%;
	// box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px #47525d;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -10px;
}

.close:focus,
.close:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.chart-container {
		display: block;
	}

	.modal-content {
		background-color: #fefefe;
		margin: 35% auto;
		padding: 20px;
		border: 1px solid #888;
		width: 84%;
		text-align: center;
		font-size: medium;
		font-weight: bold;
	}
}

/* The Modal (background) */
.modal-progress {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-progress-content {
	background-color: #fefefe;
	margin: 5% auto;
	margin-top: 25%;
	padding: 15px;
	border: 1px solid #888;
	border-radius: 8px;
	width: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* The Close Button */
.close-progress {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -10px;
}

.close-progress:focus,
.close-progress:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.chart-container {
		display: block;
	}

	.modal-progress-content {
		background-color: #fefefe;
		margin: 35% auto;
		padding: 20px;
		border: 1px solid #888;
		width: 84%;
		text-align: center;
		font-size: medium;
		font-weight: bold;
	}
}

.faturamento {
	font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
	color: #ff8e3b;
	margin: 0;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.6em;
}

.apagar {
	font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
	color: #d30934;
	margin: 0;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.6em;
}

.fatmed {
	font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
	color: rgb(77, 77, 77);
	margin: 0;
	font-size: 16px;
}

.fatpsi {
	font-family: "Signika", "Calibri", "Trebuchet MS", sans-serif;
	color: rgb(77, 77, 77);
	margin: 0;
	font-size: 16px;
}

div#receipts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Toggle Switch

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

div#lumos-container {
	transition: all 250ms ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	display: flex;
	transform: scale(0);
	opacity: 0;
	cursor: zoom-out;
}

textarea {
	width: 100%;
	border-width: 0;
}
.textwrapper {
	border: 1px solid #999999;
	margin: 5px 0;
	padding: 3px;
}

.boxsizingBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#myProgress {
	width: 100%;
	background-color: grey;
}

#myBar {
	width: 1%;
	height: 30px;
	background-color: green;
}

@import "./button-group.scss";

@import "./tabs.scss";

@import "./form-group.scss";

@import "./form.scss";
