.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

#profile-tab {
	ul {
		list-style: none;
		font-size: 1.2em;
	}
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.worko-tabs {
	margin: 0 auto;
	width: 100%;

	.state {
		position: absolute;
		left: -10000px;
	}

	.flex-tabs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -15px;

		.tab {
			flex-grow: 1;
			max-height: 40px;
		}

		.panel {
			background-color: #fff;
			padding: 20px 10px;
			min-height: 300px;
			display: none;
			width: 100%;
			flex-basis: auto;
		}
	}

	.tab {
		display: inline-block;
		padding: 10px;
		vertical-align: top;
		background-color: #eee;
		cursor: hand;
		cursor: pointer;
		border-left: 10px solid #ccc;

		&:hover {
			background-color: #fff;
		}
	}
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
	background-color: #fff;
	cursor: default;
	border-left-color: #f79219;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
	display: block;
}

@media (max-width: 600px) {
	.flex-tabs {
		flex-direction: column;

		.tab {
			background: #fff;
			border-bottom: 1px solid #ccc;

			&:last-of-type {
				border-bottom: none;
			}
		}

		#tab-one-label {
			order: 1;
		}
		#tab-two-label {
			order: 3;
		}
		#tab-three-label {
			order: 5;
		}
		#tab-four-label {
			order: 7;
		}
		#tab-one-panel {
			order: 2;
		}
		#tab-two-panel {
			order: 4;
		}
		#tab-three-panel {
			order: 6;
		}
		#tab-four-panel {
			order: 8;
		}
	}

	#tab-one:checked ~ .tabs #tab-one-label,
	#tab-two:checked ~ .tabs #tab-two-label,
	#tab-three:checked ~ .tabs #tab-three-label,
	#tab-four:checked ~ .tabs #tab-four-label {
		border-bottom: none;
	}

	#tab-one:checked ~ .tabs #tab-one-panel,
	#tab-two:checked ~ .tabs #tab-two-panel,
	#tab-three:checked ~ .tabs #tab-three-panel,
	#tab-four:checked ~ .tabs #tab-four-panel {
		border-bottom: 1px solid #ccc;
	}
}
